.h4 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.5%;
}

.container {
  padding: 50px 150px;
}

.MainDiv {
  display: grid;
  grid-template-columns: 33% 60%;
  gap: 90px;
  margin-top: 60px;
  align-items: center;
}

.LeftSide {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.InnerBox {
  border-radius: 10px;
  background: linear-gradient(0deg, #2db62130 0%, #2db62130 100%), #2db62130;
  height: 80px;
  position: relative;
  left: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.ActiveInnerBox {
  border-radius: 10px;
  background: linear-gradient(0deg, #0c7c01 0%, #0c7c01 100%), #0c7c01;
  height: 80px;
  position: relative;
  left: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.RightSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  border: 3px solid rgba(0, 114, 188, 0.32);
  background: #f5fbff;
  padding: 30px 50px;
  height: 430px;
  justify-content: center;
}

.RightSideDomain {
  border-radius: 10px;
  border: 3px solid rgba(0, 114, 188, 0.32);
  background: #f5fbff;
  padding: 30px 50px;
  height: 430px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.Icon {
  float: right;
  font-size: 25px;
}

.TwoBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 126.5%;
}

.Para {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 143%;
}

.BlueBox {
  border-radius: 10px;
  background: #0072BC;
  padding: 20px 20px 50px 30px;
  color: #fff;
}

.OrangeBox {
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  background: #FE7A36;
}

.topImg img {
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.firstBox {
  display: grid;
  grid-template-columns: 55% 42%;
  gap: 20px;
}

.Cont {
  color: #646464;
  font-size: 16px;
  font-weight: 700;
  line-height: 126.5%;
  margin: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 15px 40px;
  position: absolute;
  width: 98.8%;
  height: 93%;
}

.ActiveCont {
  color: #0072bc;
  font-size: 16px;
  font-weight: 700;
  line-height: 126.5%;
  margin: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 114, 188);
  background: #fff;
  padding: 15px 40px;
  position: absolute;
  width: 98.8%;
  height: 93%;
}

.icon {
  color: #00000060;
  font-size: 35px;
}

.Activeicon {
  color: #0072bc;
  font-size: 35px;
}

.left h6 {
  color: #444;
  font-size: 18px;
  font-weight: 700;
  line-height: 151.5%;
}
.domainicon{
  color: #12558c;
   
  font-size: 40px;
}

.mainCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.para {
  font-size: 18px;
    margin: 0;
    color: #686565;
    display: grid;
    align-items: baseline;
   gap: 10px;
    grid-template-columns: 6% 94%;
}

.checkCircle {
  color: #20a898;
}

.secondDiv {
  background: #f5fbff;
  border-radius: 10px;
}

.firstDiv > p {
  margin-bottom: 30px;
  margin-top: -10px;
}

.iconBox {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 20px;
}

.BoxIconinner P {
  margin: 0;
  color: #444444;
}

.BoxIconinner {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 17px 0px;
  color: #444;
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
}

.BoxIconinner img {
  mix-blend-mode: multiply;
}

.iconButton {
  margin: 30px 150px 0px 150px;
}

.iconBoxMobile {
  display: none;
}

.RightSideCert{
  border: 3px solid rgba(0, 114, 188, 0.32);
  background: #f5fbff;
  padding: 30px 50px;
  height: 430px;
  display: flex;
  justify-content: center;

}

.RightSideCert img {
  width: auto;
}
@media (max-width: 641px) {

  .firstBox {

    grid-template-columns: 100%;

  }
  .container {
    padding: 10px;
    margin-bottom: 40px;
  }
  .h4 {
    font-size: 24px;
  }
  .MainDiv {
    display: block;
    margin-top: 40px;
  }
  .LeftSide {
    display: grid;
    grid-template-columns: 72% 62% 58%;
    overflow: scroll;
    gap: 20px;
    margin-bottom: 30px;
  }
  .ActiveInnerBox {
    left: 0;
    height: 60px;
  }
  .ActiveCont {
    padding: 10px;
    font-size: 15px;
    gap: 10px;
    height: fit-content;
  }
  .InnerBox {
    left: 0;
    height: 60px;
  }
  .Cont {
    padding: 10px;
    font-size: 15px;
    gap: 10px;
    height: fit-content;
  }
  .RightSide {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .RightSideDomain {
    border-radius: 10px;
    border: 3px solid rgba(0, 114, 188, 0.32);
    background: #f5fbff;
    padding: 20px 20px;
    height: fit-content;
  }
  .TwoBox {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 10px;
  }
  .BlueBox {
    padding: 20px 10px 40px 20px;
  }

  .head {
    font-size: 26px;
    margin: 0;
  }

  .Para {
    font-size: 24px;
  }

  .iconBoxMobile {
    display: block;
  }

  .iconBoxDesktop {
    display: none;
  }

  .iconBox {
    display: grid;
    gap: 10px;
    grid-template-columns: 48% 48%;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .BoxIconinner {
    margin: 0;
  }

  .BoxIconinner p {
    font-size: 13px;
  }

  .buttonDiv {
    display: flex;
    justify-content: center;
  }

  .buttonDiv button {
    padding: 8px 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  .RightSideCert{
    padding: 10px 10px;
    height: fit-content;
  }
}