/* Updated radial gradient for smoother transitions */
.whyChooseSection {
  background: radial-gradient(
      circle at 10% 10%,
      /* Blue circle positioned at the top left */ rgba(2, 49, 82, 0.9) 1%,
      /* Larger blue circle */ transparent 40% /* Smoother transition */
    ),
    radial-gradient(
      circle at 90% 80%,
      /* Orange circle positioned at the bottom right */ rgba(142, 54, 7, 0.3) 2%,
      /* Glowing orange circle */ transparent 30% /* Smoother transition */
    ),
    #212121;
    margin: 60px 0;
}

.header p {
  color: #36ddfe;
  text-align: center;
  font-size: 1.5rem; /* Use rem for responsive font size */
  font-style: normal;
  font-weight: 500;
}

.header h2 {
color: rgba(255, 241, 234, 1);
  text-align: center;
  font-size: clamp(2.5rem, 5vw, 4rem); /* Responsive typography with clamp */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* Flexible line height */
}

.header span {
  font-size: clamp(2.5rem, 5vw, 4rem); /* Responsive typography with clamp */
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 241, 234, 1); /* Stroke width and color */
}

.columnDiv {
  width: 100%;
  max-width: 760px;
  margin:80px auto;
}

.columnDivDSA{
  width: 100%;
max-width: 760px;
}

.divContainer {
  display: flex;
  gap: 1rem; /* Use rem instead of px */
  margin-bottom: 2rem; /* Rem-based margin for better scaling */
  opacity: 0.1; /* Initially dim the divs */
  transition: opacity 0.5s ease, transform 0.5s ease;
  will-change: opacity, transform; /* Performance optimization */
}

.divContainerANI {
  gap: 2rem; /* Rem-based gap for flexibility */
  align-items: flex-start;
}

.divContainer h4 {
  color: #fff;
  font-size: 2.5rem; /* Use rem for responsiveness */
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

/* .divContainer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem; 
  font-style: normal;
  font-weight: 300;
  line-height: 1.875rem;
} */

.highlight {
  opacity: 1; /* Highlight the div */
  transform: scale(1.05); /* Scale effect */
}

.whyChooseSection {
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  /* margin-top: 100px; */
}

.domains {
  display: none;
}

.Head {
  text-align: center;
  color: #fff1ea;
  font-size: 2.5rem;
  font-weight: 500;
}

.Head span {
  font-weight: 600;
}

.container {
  position: relative;
  z-index: 1;
  background: rgba(10, 10, 10, 0.9);
  width: 100%;
  margin: auto;
  margin-top: 70px;
  color: #000;
  padding: 4.375rem 0 0;
  overflow: hidden;
}

.svglogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Animation Section */

.downBox {
  display: grid;
  grid-template-columns: 45% 40%;
  border-radius: 54px;
  background: rgba(254, 122, 54, 0.1);
  grid-gap: 20px;
  grid-gap: 20px;
  gap: 20px;
  padding: 10px;
  width: 434px;
  justify-content: space-between;
  margin: 20px 0;
}

.Contents h5 {
  color: #fff;
  font-size: 1.875rem; /* Responsive font size */
  font-style: normal;
  font-weight: 600;
}

.pTag {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
}

.insideBox {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.insideBox p {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  text-wrap: balance;
}

.noteP {
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
}

.orgText {
  color: #fe7a36;
  font-weight: 700;
  line-height: 1.45;
}

.mainDivS {
  display: flex;
  gap: 1.25rem;
}

.smalDiv {
  padding: 6px 10px;
  border-radius: 63px;
  background: rgba(3, 131, 255, 0.2);
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}

.smalDiv span {
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.IBMDiv {
  border-radius: 15px;
  background: rgba(255, 196, 54, 0.1);
  width: 250px;
  padding: 1px 20px;
  display: flex;
  gap: 1.25rem;
  margin: 20px 0;
}

.IBMDiv span {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.downBoxDesign2 {
  display: flex;
  background: none;
  width: 100%;
  gap: 10px;
  
}

.downBoxDesign3 {
  border-radius: 15px;
  background: rgba(255, 196, 54, 0.1);
  width: 200px;
}

.downBoxDefault {
  display: none;
}

.insideBoxDesign1 {
  /* padding: 10px; */
}

.insideBoxDesign2 {
  border-radius: 63px;
  background: rgba(3, 131, 255, 0.2);
  padding: 4px 10px;
  gap: 4px;
}
.insideBoxDesign2 p {
  font-size: 16px;
  margin: 0;
}

.insideBoxDefault {
  background-color: lightgray; /* Default style for other insideBox elements */
  padding: 5px;
}
.customSection {
  display: flex
  ;
      align-items: center;
      border-radius: 15px;
      background: rgba(255, 196, 54, 0.1);
      width: -moz-fit-content;
      width: 395px;
      padding: 4px 20px;
      justify-content: normal;
      align-items: center;
      gap: 0px;
      margin: 30px 0;
  
}
.renowed{
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
}
.customSection p {
  width: 200px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-wrap: balance;
}

.leftText {
  width: 50%; /* Adjust as per your layout */
}

.imageSection {
  width: 50%; /* Adjust as per your layout */
}

.leftText p {
  font-size: 1.2rem; /* Adjust text size */
  line-height: 1.5;
  margin-right: 20px;
}

.blueDiv{
  border-radius: 55px;
background: rgba(0, 114, 188, 0.12);
display: flex;
padding: 16px 20px;
width: fit-content;
gap: 20px;
align-items: center;
margin-top: 20px;
}
.blueDiv p {
  margin: 0;
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 126.5%; /* 31.625px */
}
.hr{
  width: 1px;
  height: 20px;

  border: 1px solid #0072BC;;
}
.lastItemPoints{
  display: flex;
  gap: 10px;
  padding: 20px 0;
  align-items: center;
  flex-wrap: wrap;
}
.point{
  display: flex ;
      gap: 4px;
      padding: 8px;
      border-radius: 34px;
      background: rgba(254, 122, 54, 0.15);
      font-size: 12px;
      color: #fff;

}

@media screen and (max-width: 1281px) {
  .downBoxDesign2 {
    display: flex;
    background: none;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: left;
  }
  
}
/* Media Queries for smaller screens */
@media screen and (max-width: 961px) {

.columnDiv{
  max-width: 700px;
}
.divContainer h4 {
  font-size: 2.2rem;
}
}

@media screen and (max-width: 768px) {
  .columnDiv{
    max-width: 650px;
  }
  .divContainer h4 {
    font-size: 1.8rem;
  }



}


@media screen and (max-width: 641px) {
  .whyChooseSection {
    background: radial-gradient(
        circle at 10% 10%,
        rgba(6, 59, 92, 0.8) 1%,
        transparent 30%
      ),
      radial-gradient(
        circle at 90% 80%,
        rgba(254, 122, 54, 0.2) 1%,
        transparent 40%
      ),
      #212121;
    margin-bottom: 60px;
  }

  .point{

       font-size: 10px;
align-items: center;
  
  }



  .header p {
    font-size: 1rem; /* Adjusted for smaller screens */
  }

  .header h2 {
    font-size: 2.0rem;
  }

  .header span {
    font-size: 2.0rem;
  }

  .divContainer {
    margin: 30px;
    gap: 10px;
  }

  .divContainer h4 {
    font-size: 1.375rem;
  }
.Contents h5 {
  font-size: 1.375rem;
}

  .divContainer p {
    font-size:14px;
    line-height: 1.5;
  }

  .columnDiv {
    width: 100%;
  }

  .svglogo img {
    width: 50px;
    height: auto;
  }

  .downBoxDesign1{
    width: 100%;
    height: fit-content;
justify-content: center;
    padding: 4px;
  }
  .downBoxDesign2{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: left;


  }
  .downBoxDesign2 p {
    font-size: 12px;
  }
  .downBoxDesign1 img {

    height: auto;
  }
  .insideBoxDesign1{
    gap: 4px;
  }
  .insideBoxDesign1 p {
    font-size: 10px;
  }
  .insideBoxDesign2{
gap: 4px;
  }
  .customSection {
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    justify-content: center;
  }
  .customSection p {
    width: 100%;
  }
  .imageSection {
    width: auto;
  }
  .blueDiv{
    padding: 10px;
  }
}
