.NewSevenSection{
    border-radius: 50px;
background: #212121;
margin: 100px auto;

padding: 50px 80px;

}

.griContiner{
    display: grid;
    grid-template-columns:62% 25%;
    justify-content: center;
}
.fontDiv h4 {
    color: #FFC436;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 153%; /* 45.9px */
}
.fontDiv h3 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 153%;
}
.fontDiv p {
    color: #FFF;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: 153%; /* 33.66px */
}
.ryt {
    display: flex;
    align-items: center;
    justify-content: center;
position: relative;
}

.ryt  img {
    position: absolute;
    bottom: -50px;
}

.buttonDiv{
display: flex;
    margin-top: 50px;
    gap: 30px;
}

.green {
    border-radius: 5px;
    background: var(--p3, #04C988);
    color: #fff;
    border: none;
    padding: 6px 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 153%; /* 30.6px */
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.green:hover {
    background: #03b877;
    box-shadow: 0 0 15px rgba(4, 201, 136, 0.6);
}

.blue {
    display: flex;
    gap: 10px;
    color: #0072BC;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 22px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

.blue:hover {
    color: #005a9b;
    box-shadow: 0 0 15px rgba(104, 114, 121, 0.6);
}

.NewSevenSectionM {
    display: none;
}

@media screen and (max-width:1281px) {
    .NewSevenSection{
        padding: 50px 0px;
     }

}
@media screen and (max-width:1081px) {


    @media screen and (max-width:951px) {
       
.ryt img {
    bottom: -50px;
}

    }    


}
@media screen and (max-width:1281px) {



}



@media screen and (max-width:641px) {
    .NewSevenSection{
        display: none;
    }

    .NewSevenSectionM{
        display: block;
        border-radius: 30px;
        background: #212121;
        padding: 20px;
        margin: 20px;
    }
    .griContiner{
        display: flex;
    flex-direction: column;
    }

    .NewSevenSectionM h4 {
        font-size: 20px;

    }
    .NewSevenSectionM h3{
font-size: 26px;
    }
    .NewSevenSectionM p {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 153%;
        width: 241px;
    }

    .ryt img {
        position: absolute;
        width: 130px;
        height: auto;
        right: -10px;
        bottom: -20px;

    }

    .ryt{
gap: 0;
position: relative;
display: block;

    }
    .buttonDiv {
        flex-direction: column;
        gap: 16px;

    }
    .green{
        padding: 9px;
    font-size: 18px;
    width: fit-content;
    }
    .blue{
       gap: 8px;
        font-size: 18px;
        padding: 10px;
        width: 200px;
    }

}

@media screen and (max-width:360px) {

    .blue, .green{
        font-size: 14px;
    }

}