.imgWrap img {
  width: 100%;
  height: 800px;
}
.mediaMainHeading {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}
.greyText {
  color: #a4a4a4;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}
.mainDiv {
  width: 1200px;
  margin: auto;
  position: relative;
  margin-top: -730px;
}
.container {
  display: grid;
  grid-template-columns: 32% 24% 32%;
  gap: 70px;
}
.careerImg {
  width: 100%;
  height: auto;
}
.innerDiv,
.innerDiv2 {
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.innerDiv2 img {
  margin-top: 44px;
}
.goldenH4 {
  text-align: center;
  background: linear-gradient(90deg, #f98e00 19.22%, #ffc436 82.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 320px;
  font-size: 22px;
}
.paraBot {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.DivCont01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-top: -270px;
  gap: 70px;
  width: 270px;
  margin-left: 35px;
}
.DivCont02 {
  position: absolute;
  margin-top: 44px;
  margin-left: 25px;
}
.DivCont03 {
  position: absolute;
  margin-left: 30px;
overflow-x: scroll;
  height: 360px;
  scroll-snap-type: x mandatory; /* Add smooth scrolling */
}
.iconContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 24px;
  width: 310px;
  color: #fff;
}
.btnIcon {
  display: flex;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0px 24px;
  border-radius: 37.176px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.iconDownload {
  font-size: 26px;
}
.iconText {
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 5px;
}
.line {
  height: 0.5px;
  width: 40px;
  border: 0.5px solid #fff;
}
.paraSide {
  overflow: hidden;
  max-height: 0;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 30px 15px 30px;
}
.paraSideshow {
  height: auto;
  max-height: 9999px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 30px 15px 30px;
}
/* @media (max-width: 641px) {

.mainDiv {
  width: 100%;
}
.imgWrap img{
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: -400px;
        gap: 20px;
        align-items: center;
        justify-content: center;
}
.mediaMainHeading {
  display: none;
}
.greyText {
  display: none;
}
.innerDiv2 img {
  display: none;
}
.careerImg  {
  width: 300px;
    height: auto;
}
.DivCont01{

    align-items: center;
    text-align: center;
    position: absolute;
    margin-top: -205px;
    gap: 17px;
    width: 263px;
    margin-left: 32px;
}
.goldenH4 {
  font-size: 20px;
}


    } */
    @media (max-width: 481px) {
      .imgWrap img {
        height: 1090px;
        
      }
    }

@media (max-width: 641px) {
  .mainDiv {

width: 100%;
margin-top: 50px;
padding-bottom: 20px;
padding-top: 40px;

  }
  .container {
    display: flex;
    flex-direction: column;
    margin: 10px 40px 10px 20px;
    gap: 30px;
  }
  .mediaMainHeading {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }
  .greyText {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .innerDiv2 img {
    display: none;
  }

  .DivCont02 {
    margin-top: 65px;
    margin-left: 25px;
  }
  .imgWrap img {
    width: 100%;
    /* height: 100%; */
    position: absolute;
  }
  .innerDiv {
    margin-top: 40px;
  }
  .DivCont01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    margin-top: -273px;
    gap: 50px;
    width: 275px;
    margin-left: 25px;
  }
  .goldenH4 {
    width: 250px;
    font-size: 20px;



  }
  .paraBot {
    font-size: 14px;
    font-weight: 600;
  }
  .iconContent {
    width: 270px;
    margin-top: 0;
  }

  .DivCont03 {
    height: 310px;
    position: absolute;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
  }
  .downdiv{
    margin-top: -20px;
  }
  .iconText{
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    display: flex;
    gap: 13px;
    text-align: center;
  }
  .paraSideshow{
    font-size: 10px;
  }






}

@media (max-width: 391px) {
  .mainDiv {
height: fit-content;
  }
.imgWrap img {
  height: 1070px;
}


}
@media (max-width: 340px) {

  .imgWrap img {
    height: 700px;
  }
}