.divWrapper {
  display: none;
}

.popupModal {
  display: grid;
  grid-template-columns: 49% 49%;
  background-color: white;
}

.whiteP {
  background-color: transparent;
  height: 600px;
  width: 600px;
}

.RightPopup h5 {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.RightPopup p {
  margin: 0;
  font-size: 16px;
  color: rgb(143, 143, 143);
}

.flDivLeft {
  display: none;
}

.RightPopup {
  display: flex;
  flex-flow: column;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.RightPopup h5 {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.RightPopup p {
  margin: 0;
  font-size: 16px;
  color: rgb(143, 143, 143);
}

.bIcon {
  font-size: 18px;
  margin-left: 8px;
  color: #0072bc;
}

.bIcon {
  font-size: 18px;
  margin-left: 8px;
  color: #0072bc;
}

@media (max-width: 481px) {
  .divWrapper {
    display: flex;
    position: relative;
    width: 100vw;
  }
  .flDivLeft {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255);
    border-radius: 12px;
    border-top: 1px solid rgba(98, 98, 98, 0.125);
    height: 60px;
    width: 100vw;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .flDivLeft div {
    display: flex;
    align-items: center;
  }
  .flDivLeft {
    border-right: 2px solid #2d9cd7;
    padding-right: 10px;
    margin: 0;
  }
}
