.containers {
  display: flex;
  /* background-color: red; */
  justify-content: center;
  flex-direction: column;
}
.containers h2 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.firstrow {
  display: flex;

  justify-content: center;
  /* grid-gap: 27px; */
  margin-left: 187px;
  gap: 100px;
  margin-left: 270px;
  margin-bottom: 15px;
}
.para {
  color: #0072bc;
  /* font-family: Open Sans; */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 158%; /* 23.7px */
}
.firstrow {
  color: #0072bc !important;
  /* font-family: Open Sans; */
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 158%; /* 23.7px */
}
.secrow {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  /* margin: 20px; */
  text-align: center;
}

.secrow h4 {
  border: 0.5px solid rgb(163, 161, 161);
  margin: 0px;
  padding: 10px 10px;
  text-align: center;
  /* color: #2D2B29; */

  font-style: normal;
  display: flex;
  /* font-weight: 500; */
  line-height: 158%;
  justify-content: center;
  align-items: center;
}
/* .secrow p {
    border: 0.5px solid rgb(180, 179, 179);
    margin: 0px;
    padding: 20px 20px;
    text-align: center;
    color: #2D2B29;

font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 158%; 
} */

.greencol {
  color: #2db621;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 158%;
  border: 0.5px solid rgb(180, 179, 179);
  margin: 0px;
  padding: 30px 20px;
  text-align: center;
}

.greenDown {
  color: #484848;

  border: 0.5px solid rgb(180, 179, 179);
  margin: 0px;
  padding: 20px 20px;
  text-align: center;
  color: #2d2b29;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 158%;
}

.Amount {
  color: #484848;
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 158%; /* 31.6px */
}

.month {
  color: #2d2b29;
  /* font-family: Open Sans; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 158%; /* 31.6px */
}
.gst {
  font-size: 14px;
  color: #82807f;
  margin-left: 8px;
  font-weight: 400;
}
.orange {
  color: #2db621;
}

@media (max-width: 641px) {
  .secrow p {
    font-size: 10px;
  }
  .greencol {
    font-size: 10px;
    padding: 1px 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .greenDown {
    font-size: 10px;
    padding: 1px 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .secrow h4 {
    font-size: 12px;
    flex-direction: column;
  }
  .para {
    font-size: 12px;
    gap: 10px;
  }
  .greencol {
    font-size: 12px;
  }
  .greenDown {
    font-size: 12px;
  }
  .firstrow {
    margin: 0px 0px 7px 105px;
    gap: 21px;
  }
  .firstrow p {
    font-size: 12px;
  }
  .containers h2 {
    font-size: 24px;
  }
  .gst {
    line-height: 12px;
    margin: 0px;
    font-size: 9px;
  }
}
