.nav {
  width: 100vw;
  scroll-behavior: smooth;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 1002;
  right: 0;
  left: 0;
  height: 80px;
  padding: 0px 140px 0px 125px;
  background: #fff;
  /* box-shadow: 0px 1px 3px 0px #e8f1f5; */
}

.left {
  gap: 50px;
}
.logo {
  width: 230px;
}
.left button,
.right button,
.righta button {
  border-radius: 2.67px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: 0.7px;
  display: flex;
  align-items: center;
}

.right button,
.righta button {
  font-size: 16px;
  padding: 10px 20px;
}

.icon {
  margin-left: 10px;
}

.ham {
  display: inline;
  justify-self: flex-start;
  color: #0072bc;
  cursor: pointer;
  font-size: 28px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: -5px;
}

.right span,
.righta button {
  margin-right: 50px;
  cursor: pointer;
  font-weight: 400;
}

.right a {
  font-weight: 500;
  font-size: 18px;
}

.right span:hover {
  color: #0072bc;
  transform: scale(1) translate(-0%, -20%);
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.ham {
  display: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ff9562;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  border: 1px solid #ff9562;
  box-shadow: #ff9562 0px 0px 4px 0px !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fff;
  max-width: fit-content;
  z-index: 1;
  margin-top: 3px;
  font-size: 16px;
}

/* Links inside the dropdown */
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 400px;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
  background-color: #ff9562;
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #fff;
  color: #ff9562;
  border: 1px solid #ff9562;
}

.megaMenu {
  position: absolute;
}

@media (max-width: 1281px) {
  .nav {
    padding: 0 20px;
  }
  .right span {
    margin-right: 30px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
  }
}

@media (max-width: 1070px) {
  .right span {
    margin-right: 12px;
  }
  .nav {
    padding: 0px 20px;
    width: 100%;
    height: 60px;
    background: #fff;
    /* box-shadow: 0px 2px 4px 0px rgba(0, 114, 188, 0.15); */
  }
  .left button {
    padding: 8px 15px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border-radius: 2px;
  }
  .left {
    gap: 15px;
  }
  .right button {
    padding: 12px 15px;
    font-size: 14px;
    color: #0072bc;
    background-color: transparent;
    border: 2px solid #0072bc;
    font-weight: 500;
  }
}

@media (max-width: 801px) {
  .nav {
    width: 100%;
    padding: 0px 10px;
  }
  .logo {
    width: 160px;
  }
  .left {
    width: 100%;
    gap: 0;
  }
  .megaMenu {
    position: absolute;
  }
  .ham {
    display: flex;
    font-size: 28px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: -5px;
  }
  .right {
    display: none;
  }
  .righta {
    width: 70%;
    justify-content: flex-end;
  }
  .righta button {
    margin-right: 0;
  }
  .dropdown {
    display: none;
  }
  .right span {
    display: none;
  }
  .mobileWrapper .mobileMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 70px;
    left: 0;
    margin: auto;
    width: 99vw;
    height: max-content;
    border-radius: 0 5px 5px 0;
    background-color: white;
    flex-flow: column;
    position: absolute;
    z-index: 999;
  }
  .mobileWrapper .mobileMenu a {
    text-decoration: none;
  }
  .mobileWrapper .mobileMenu span {
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  .mobileWrapper .mobileMenu span:hover {
    color: #fff;
    background-color: #2d9cd7;
  }
}

@media (max-width: 801px) {
  .left {
    width: 100vw;
    justify-content: space-between;
  }
  .nav {
    width: 100vw;
  }
}
