.CitiesRightHead {
  margin: 20px 20px;
}

.CitiesRightSpan {
  background-color: #f4f4f4;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-left: 10px;
  position: sticky;
  top: 70px;
}

.CitiesRightInner img {
  width: 400px;
}

.CitiesRightInner {
  padding: 0px 10px 20px 10px;
  line-height: 30px;
}

.pHead {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0px;
  color: #000;
}

.pp {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: justify;
  margin: 10px 0px;
}

.pp span ul li{ margin-left: 20px;}
.pp span ol li{ margin-left: 20px;}

.pp span h2{ font-size: 22px !important;margin-bottom: 10px;margin-top: 10px;}
.pp span h3{ font-size: 21px !important;margin-bottom: 10px;margin-top: 10px;}
.ppa {
  font-size: 18px;
  font-weight: 500;
  color: #2d9cd7;
}

.Alumni {
  display: grid;
  grid-template-columns: 50% 50%;
}

.Alumni1 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 30px 0px 0px 0px;
}

.Button {
  margin: 20px;
  text-align: center;
}

.AlumniBot {
  box-shadow: 0px 0px 5px 0px rgb(40 126 194 / 25%);
  padding: 10px;
  margin: 10px;
}

.AlumniBot img {
  margin-top: -50px;
  width: 100px;
  height: auto;
}

/* Syllabus */
.SyllabusBot {
  display: flex;
}

.SyllabusBot1 {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #8f84be;
  box-shadow: 0px 0px 5px 0px rgb(143 132 190 / 40%);
  margin: 20px 10px 0px 10px;
  width: 100%;
}

.SyllabusBot11 {
  display: grid;
  align-items: center;
  grid-template-columns: 82% 18%;
  background: #f8fafd;
  padding: 10px 20px;
  height: 125px !important;
}

.number1 {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  padding: 5px;
  border-color: #8f84be;
  font-size: 26px;
  text-align: center;
  color: #8f84be;
  margin: 10px;
}

.SyllabusBot2 {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #fcd059;
  box-shadow: 0px 0px 5px 0px rgb(252 208 89 / 25%);
  margin: 20px 10px 0px 10px;
  width: 100%;
}

.SyllabusBot22 {
  display: grid;
  align-items: center;
  grid-template-columns: 82% 18%;
  background: #f8fafd;
  padding: 10px 20px;
  height: 125px !important;
}

.number2 {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  padding: 5px;
  border-color: #fcd059;
  font-size: 26px;
  text-align: center;
  color: #fcd059;
  margin: 10px;
}

.SyllabusBot3 {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #f36b24;
  box-shadow: 0px 0px 5px 0px rgb(243 107 36 / 25%);
  margin: 10px 10px 0px 10px;
  width: 100%;
}

.SyllabusBot33 {
  display: grid;
  align-items: center;
  grid-template-columns: 82% 18%;
  background: #f8fafd;
  padding: 10px 20px;
  height: 125px !important;
}

.number3 {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  padding: 5px;
  border-color: #f36b24;
  font-size: 26px;
  text-align: center;
  color: #f36b24;
  margin: 10px;
}

.SyllabusBot4 {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #31b888;
  box-shadow: 0px 0px 5px 0px rgb(49 184 136 / 25%);
  margin: 10px 10px 0px 10px;
  width: 100%;
}

.SyllabusBot44 {
  display: grid;
  align-items: center;
  grid-template-columns: 82% 18%;
  background: #f8fafd;
  padding: 10px 20px;
  height: 125px !important;
}

.number4 {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  padding: 5px;
  border-color: #31b888;
  font-size: 26px;
  text-align: center;
  color: #31b888;
  margin: 10px;
}

.syllabush {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 20px 0px;
}

.syllabusb {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  display: flex;
  color: #000;
}

.bIcons {
  color: #000;
  font-size: 18px;
  margin-right: 5px;
}

.SyllabusBotlist {
  padding: 20px 20px 30px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.SyllabusBotlist p {
  margin: 0;
  color: #000;
}

.Projects {
  display: grid;
  grid-template-columns: 50% 50%;
}

.ProjectsBot {
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgb(40 126 194 / 25%);
  border-top: 3px solid #2a9cd7;
}

.ProjectsBotI {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.ProjectsBotI img{
  width: auto;
  height: 60px;
  z-index: -10;
}

.ppp {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #000;
  margin: 0px;
}

.buttonb {
  text-align: center;
}

.ulLi {
  padding: 10px 40px;
}

.certNew {
  position: relative;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 20px;
}

.certNew img{
  width: auto;
  height: auto;
  z-index: -10;
}

.Button button {
  margin: auto;
}


@media (max-width: 650px) {
  .SyllabusBot {
    display: grid;
    width: 100%;
  }

  .ulLi {
    padding: 0px;
  }

  .certNew {
    display: block;
  }

  .SyllabusBot1 {
    margin: 10px 0px 0px 0px;
    width: auto;
  }

  .CitiesRightInner img {
    width: 100%;
  }

  .SyllabusBot2 {
    margin: 10px 0px 0px 0px;
    width: auto;
  }

  .SyllabusBot3 {
    margin: 10px 0px 0px 0px;
    width: auto;
  }

  .SyllabusBot4 {
    margin: 10px 0px 0px 0px;
    width: auto;
  }

  .SyllabusBot5 {
    margin: 10px 0px 0px 0px;
    width: auto;
  }

  .SyllabusBot6 {
    margin: 10px 0px 0px 0px;
    width: auto;
  }
  .CitiesRightHead {
    margin: 0px;
  }
  .Projects {
    display: block;
  }
  .Alumni {
    display: block;
  }

  .Alumni1 {
    display: block;
  }
  .AlumniBot {
    margin: 50px 10px 10px 10px;
  }

  .CitiesRightSpan {
    font-size: 18px;
  }
}
