.mainConteiner {
  width: 1300px;
  /* background-color: red; */
  margin: 50px auto;
}
.headline {
  margin-bottom: 50px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%; /* 69.575px */
}

.gridConteiner {
  display: grid;
  grid-template-columns: 22% 74%;
  gap: 40px;
  /* margin: 50px 0; */
  /* background-color: #e5ecf3; */
}
.headline span {
  border-bottom: 4px solid #fe7a36;
  line-height: 20px;
  font-weight: 600;
}

.leftinside {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leftinside h3 {
  color: #8a8a8a;
  font-style: normal;
  font-size: 40px;
  line-height: 126.5%;
  /* 56.925px */
}

.rytmain {
  border-radius: 30px;
  background: #fff;
  padding: 20px 30px;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ryttop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ryttop p {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%;
  /* 44.275px */
}

.date {
  border-radius: 36px;
  background: rgba(254, 122, 54, 0.16);
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 4px;
}

.date p {
  color: #fe7a36;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%;
  /* 31.625px */
  margin: 0;
}

.org {
  color: #fe7a36;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%;
  /* 27.83px */
}

.pline {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%;
}

.lists {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.5%;
  /* 25.3px */
  margin-top: 10px;
  margin-left: 20px;
}
.contentlist {
  display: flex;
  flex-direction: column;
}
.popupbtn {
  margin-top: 10px;
  width: fit-content;
  color: #16a0fb;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}
.content {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.tools {
  border-radius: 14px;
  background: rgba(0, 114, 188, 0.1);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.tools p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%; /* 25.3px */
  margin: 0;
}
/* Styles for the popup overlay and content */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 557px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 500px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.closeBtn {
  position: relative;
  left: 260px;
  top: -4px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  color: #fefefe;
}

.closeBtn:hover {
  color: #fe7a36;
}

.popuptop {
  display: grid;
  grid-template-columns: 77% 20%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.h2 {
  font-size: 24px;
}

.popupdate {
  border-radius: 36px;
  background: #fe7a3629;
  padding: 10px 14px;
}

.popupdate p {
  color: #fe7a36;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  /* 31.625px */
  margin: 0;
}
.listTitle {
  color: #0072bc;
  font-size: 18.716px;
  font-style: normal;
  font-weight: 600;
  line-height: 196.5%; /* 32.531px */
}
.popupPoints {
  display: grid;
  grid-template-columns: 13% 88%;
}

.popupleft {
  position: relative;
  width: 30px;
  background-color: #d9e9f4;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

/* Arrow shape on top */
.popupleft::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 54%;
  width: 0;
  height: 0;
  border-left: 19px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #d9e9f4;
  transform: rotate(-147deg);
}

.rotateText {
  color: #336ca8;
  font-size: 18px; /* Adjust font size as needed */
  transform: rotate(-90deg); /* Rotate text vertically */
  white-space: nowrap;
  line-height: 6; /* Ensure no extra space between letters */
  font-weight: 600;
}
.leftinside img {
  border-radius: 50%;
  border: 2px dashed #0072bc;
  padding: 8px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

.swiper {
  width: 90%;
  height: auto;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  border-radius: 20px;
  overflow: scroll;
  padding: 10px;
  width: 650px;
  height: 700px;
}

.cardContent {
  padding: 10px;
}

.closePopup {
  position: absolute;
  top: 60px;
  right: 100px;
  background: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.closePopup:hover {
  background-color: rgb(121, 110, 110);
  font-weight: 800;
  color: #fff;
}

.cardHead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cardHead h5 {
  color: #000;
  font-size: 24.067px;
  font-weight: 700;
  line-height: 126.5%; /* 44.36px */
}

.date span {
  color: #fe7a36;
  font-size: 14.125px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%; /* 24.194px */
}

.swiper {
  width: 90%;
  height: auto;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1; /* Default opacity for inactive slides */
  transform: scale(2); /* Default scale for inactive slides */
}

.swiper-slide-active {
  opacity: 4; /* Full opacity for the active slide */
  transform: scale(4.2); /* Scale up the active slide for emphasis */
}

.slidercontent {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  flex-direction: column;
}

.rytdiv p {
  color: #0072bc;

  font-size: 20.716px;
  font-weight: 600;
  line-height: 120.5%; /* 32.531px */
  margin: 0 0 10px 0;
}

.listItem {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 190.5%; /* 26.167px */
}
.module {
  display: flex;
  gap: 40px;
}

.termGreen {
  border-radius: 40px;
  background: rgba(4, 201, 136, 0.1);
  color: #04c988;

  font-size: 20.487px;
  font-weight: 600;
  line-height: 126.5%; /* 32.241px */
  padding: 4px 20px;
}

.titleH {
  color: #000;
  font-size: 24.487px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.5%; /* 32.241px */
  margin: 20px;
}

.verticalLine {
  width: 2px;
  height: 280px;
  position: relative;
  left: 40px;
  top: 4px;
  background: repeating-linear-gradient(
    to bottom,
    #0072bc,
    #0072bc 5px,
    transparent 5px,
    transparent 10px
  );
}

.buttondiv {
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 40px;
}
.btnone {
  border-radius: 30px;
  background: #0072bc;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 20px 8px 10px;
  cursor: pointer;
}
.btnone :nth-child(1) {
  background-color: #fff;
  border-radius: 50%;
}

.btntwo {
  border-radius: 55px;
  border: 1px solid #0072bc;
  background: rgba(0, 114, 188, 0.08);
  color: #0072bc;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding: 8px 20px 8px 10px;
  cursor: pointer;
  gap: 10px;
}


.pdficon{
  background-color: #fff;
  font-size: 26px;
  border-radius: 50%;
  padding: 9px;
  width: 50px;
  height: auto;
  text-align: center;
  color: red;

}
@media (max-width:1381px) {


  .card{
    width: 550px;
    height: 600px;
  }

}

@media (max-width:1281px) {
  
  .mainConteiner{
  width: auto;
  }

  .card{
    width: 550px;
    height: 600px;
  }
}