.mainBg {
    max-width: 1200px;
    margin: auto;
    display: flex;
    /* margin: 10% 0; */
    /* margin-top: 100px; */
    flex-direction: column;
    border-radius: 54px;
    background: radial-gradient(
        circle at 90% 20%,
        /* Blue circle positioned at the top left */ rgba(6, 59, 92, 0.9) 1%,
        /* Smaller blue circle */ transparent 30% /* Smooth transition to black */
      ),
      radial-gradient(
        circle at 10% 80%,
        /* Orange circle positioned at the bottom right */
          rgba(254, 122, 54, 000.3) 1%,
        /* Glowing orange circle */ transparent 40%
          /* Smooth transition to black */
      ),
      var(--light-black);
    background-color: rgba(15, 14, 14, 0.954);
    padding: 50px 0px 50px 0px;
    gap: 10px;
  }
  
  .upskillHeading {
    font-size: 34px;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .certificateDescWrapper {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .certificateDescWrapper p {
    display: flex;
    gap: 10px;
  }
  
  .certificateDescWrapper p {
    font-size: 16px !important;
  }
  
  .spanHead {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-color: var(--light-orange);
  }
  
  .innerDiv {
    /* display: grid;
      grid-template-columns: 42% 42%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 7%;
  }
  
  /* .middleLine {
    margin: 0px auto 30px auto;
    } */
  
  .iconDivMain {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }
  
  .iconDivMain h4 {
    color: var(--white);
    font-size: 22px;
    font-weight: 600;
  }
  
  .iconDiv {
    /* display: grid; */
    grid-template-columns: 5% 90%;
    gap: 10px;
    align-items: flex-start;
  }
  
  .iconDivMain p {
    margin: 0;
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
  }
  
  .iconDiv svg {
    fill: #20a898;
    font-size: 22px;
  }
  
  .certBox {
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
  }
  
  .certBoxWrapperBottom {
    width: 100%;
  }
  
  .certBoxWrapperTop {
    display: grid;
    grid-template-columns: 43% 43%;
    justify-content: center;
    gap: 7%;
  }
  
  .certBoxDemo {
    display: grid;
    grid-template-columns: 38% 40%;
    justify-content: center;
    gap: 2%;
    align-items: center;
    margin-top: 4%;
  }
  
  .Addon p {
    color: var(--light-bluee);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.5%;
    /* 31.625px */
    margin: 0;
  }
  
  .Addon {
    display: block;
    border-radius: 28px;
    border: 1px solid var(--light-bluee);
    background: rgba(3, 131, 255, 0.19);
    width: fit-content;
    padding: 4px 18px;
    margin-bottom: 16px;
  }
  
  .certBox img {
    max-width: 100%;
  }
  
  .AddonMbl {
    display: none;
  }
  
  @media only screen and (max-width: 1281px) {
    /* .certBoxDemo {
      grid-template-columns: 36% 49%;
      gap: 56px;
    } */
    .iconDivMain h4 {
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 1081px) {
    .certBox img {
      /* width: 100%; */
      height: 220px;
    }
  
    .certBoxWrapperTop {
      grid-template-columns: 45% 50%;
      gap: 6%;
    }
  
    .certBoxDemo {
      grid-template-columns: 46% 43%;
      gap: 11%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
  }
  
  @media only screen and (max-width: 968px) {
    .containerWidth {
      width: 100%;
    }
  
    .certBox img {
      /* width: 100%; */
      color: transparent;
      height: auto;
    }
  
    .certBoxWrapperTop {
      /* gap: 120px;
      grid-template-columns: 37% 37%; */
    }
  
    /* .certBoxDemo {
      gap: 80px;
    } */
    .toolIcon {
      width: 100%;
      height: auto;
    }
  
    /* .certBoxDemo {
      grid-template-columns: 36% 40%;
    } */
    .iconDivMain h4 {
      font-size: 18px;
    }
  
    .iconDivMain p {
      font-size: 12px;
    }
  
    .certBoxDemo {
      grid-template-columns: 46% 48%;
      gap: 8%;
    }
  
    .upskillHeading {
      font-size: 28px;
    }
  
    .innerDiv {
      padding: 0 4%;
    }
  }
  
  @media only screen and (max-width: 841px) {
    /* .upskillHeading {
       font-size: 28px;
    } */
    .iconDivMain h4 {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 761px) {
    .iconDivMain p {
      font-size: 12px;
    }
  
    .innerDiv {
      padding: 0 5%;
    }
  
    .certBoxDemo {
      grid-template-columns: 46% 47%;
    }
  }
  
  @media only screen and (max-width: 641px) {
    .mainBg {
      width: 100%;
      margin-top: 0px;
      border-radius: 0px;
      padding: 40px 5px;
    }
  
    .upskillHeading {
      font-size: 24px;
      margin: 0 12%;
    }
  
    /* .middleLine {
      width: 0px;
     
    } */
    .spanHead {
      text-underline-offset: 14px;
    }
  
    .innerDiv {
      grid-template-columns: 100%;
      gap: 30px;
    }
  
    .certBox img {
      height: auto;
      /* width: 100%; */
      justify-content: center;
      justify-items: center;
    }
  
    .certBoxDemo img {
      height: auto;
      width: 100%;
    }
  
    .iconDivMain h4 {
      font-size: 20px;
      /* line-height: 30px; */
    }
  
    .iconDivMain {
      margin-left: 8px;
    }
  
    .iconDiv svg {
      font-size: 20px;
    }
  
    .iconDivMain p {
      font-size: 12px;
    }
  
    .mHead {
      margin-top: -24px;
    }
  
    .certBox {
      align-items: baseline;
      /* text-align: center; */
    }
  
    .certBoxDemo,
    .certBoxWrapperTop {
      gap: 20px;
      display: flex;
      flex-direction: column;
      padding: 12% 11% 0;
    }
  
    .certBoxDemo {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: baseline;
      padding-top: 0;
    }
  
    .AddonMbl {
      display: block;
      border-radius: 28px;
      border: 1px solid var(--light-orange);
      background: rgba(254, 122, 54, 0.18);
      width: fit-content;
      padding: 4px 18px;
      margin-bottom: 16px;
    }
  
    .Addon {
      display: none;
    }
  
    .AddonMbl p {
      background: linear-gradient(
        90deg,
        var(--light-orange) 7.69%,
        var(--secondary-color) 93.08%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 126.5%;
      /* 31.625px */
      margin: 0;
    }
  }
  
  @media only screen and (max-width: 481px) {
    .upskillHeading {
      font-size: 28px;
      margin: 0;
    }
  
    .mainBg {
      gap: 45px;
    }
  
    .iconDivMain h4 {
      font-size: 22px;
    }
  
    .certBoxWrapperTop {
      gap: 35px;
    }
  
    .spanHead {
      text-decoration: none;
    }
  
    .certBoxDemo {
      padding: 0;
    }
  
    .certBoxDemo,
    .certBoxWrapperTop {
      padding: 0;
    }
    .certBoxWrapperTop,
    .innerDiv {
      gap: 55px;
    }
  
    .iconDivMain p {
      font-size: 16px;
    }
  
    .certBox img {
      margin-left: -2px;
    }
    .iconDivMain {
      margin: 0;
    }
    .AddonMbl {
      margin-bottom: 0;
    }
  }
  
  @media only screen and (max-width: 361px) {
    .certBoxDemo img {
      height: auto;
      width: 95%;
    }
  
    .certBox img {
      height: auto;
      /* width: 100%; */
    }
    .upskillHeading {
      font-size: 25px;
    }
  }
  