.upperDiv {
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 9999;
  padding: 15px 100px 0px 100px;
  background: #fff;
  width: 100vw;
  justify-content: center;
  display: flex;
  gap: 60px;
}

.hr {
  border: 0.5px solid #bbb;
}

.innerP {
  display: flex;
  gap: 70px;
  justify-content: center;
}

.innerP p {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  color: #444444;
  padding-bottom: 8px;
}

.innerP p:hover {
  color: #0072bc;
  border-bottom: 3px solid;
}

.active {
  border-bottom: 3px solid #0072bc;
  color: #0072bc !important;
}

.buttonBlock {
  display: block;
}

.buttonBlock button {
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 200;
}

.buttonNoBlock {
  display: none;
}

@media (max-width: 1024px) {
  .upperDiv {
    gap: 30px;
    padding: 0px 50px;
    margin-top: 100px;
  }
  .innerP {
    gap: 30px;
  }
  .innerP p {
    font-size: 11px;
    font-weight: 700;
  }
}

.btnHide button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 2.67px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.7px;
}

@media (max-width: 961px) {
  .upperDiv {
    padding: 0px 20px;
    margin-top: 0px;
  }
}

@media (max-width: 641px) {
  .upperDiv {
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    height: 47px;
  }
  .innerP {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%;
    gap: 0px;
    overflow: scroll;
  }
  .btnHide {
    display: none;
  }
}

@media (max-width: 481px) {
  .innerP {
    grid-template-columns: 16% 24% 22% 13% 9%;
    grid-gap: 10px;
    justify-content: space-around;
    text-align: center;
  }

  .innerP p {
    font-size: 14px;
    margin: 0;
  }
  .innerP p:hover {
    color: #0072bc;
    border-bottom: 2px solid;
  }

  .buttonBlock {
    display: none;
  }

  .buttonNoBlock {
    display: none;
  }

  /* .btnHide{
  display: none;
} */
}
