.container {
}
.newSection {
  display: grid;
  grid-template-columns: 16% 70%;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 10px auto 60px auto;
}
.cardwrapper {
  display: grid;
  grid-template-columns: 45% 45%;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* margin: 20px 0; */
}
.section {
  background: linear-gradient(
    180deg,
    #fff 1.26%,
    #eff3f6 96.6%,
    #eff3f6 90.85%,
    #fff 100%
  );
  padding: 20px 20px 40px 20px;
  margin-top: 0; /* Add some margin to avoid overlap */
  padding-top: 0;
}

.tabdiv.active {
  border-radius: 8.984px;
  background: #022646;
}
.tabdiv.active p {
  color: #fff;

  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 126.5%; /* 25.3px */
}
/* Updated styles for sticky tab section */
.tabMain {
}

.svgActive {
  color: red;
  fill: #000;
}

.conteiner {
  max-width: 1350px; /* Ensure max-width for responsiveness */
  width: auto;
  margin: 0 auto; /* Center content */
}

.tabMain p {
  margin-top: 0;
  color: #212121;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%; /* 25.3px */
}

.tabdiv {
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  margin: 4px;
}

.sliders {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgText {
  display: flex;
  gap: 6px;
  align-items: center;
}

.CourseCardHead {
  display: flex;
  grid-template-columns: 30% 30% 30%;
  margin: 50px 0;
  gap: 30px;
  flex-wrap: wrap;
}

.courseCard {
  width: 100%;
  max-width: 300px;
}
.cardContent {
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  background: #fff;
  padding: 16px 12px 14px 12px;
}

.cardContent h3 {
  color: #212121;
  font-size: 18.4px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%; /* 40.48px */
  letter-spacing: -0.32px;
  text-wrap: balance;
}

.lists {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  gap: 5px;
}

.lists span {
  color: #666;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 31px */
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  align-items: center;
  position: relative;
  z-index: 2;
}
.brochurebtn {
  border-radius: 25px;
  background: #000;
  color: #fff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 34.1px */
  padding: 6px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
}

.brochurebtnMaster {
  border-radius: 25px;
  background: #fe7a36;
  color: #fff;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 34.1px */
  padding: 9px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
}

.viewDetailsButton {
  border-radius: 26px;
  background: transparent;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 34.1px */
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid #000;
}

.viewDetailsButtonmaster {
  border-radius: 26px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 34.1px */
  padding: 9px 28px;
  cursor: pointer;
  border: 1px solid #fff;
}
.mainImage {
  width: 100%;
  height: auto;
  position: relative;
  top: 10px;
}

.viewMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  margin-top: -100px;
}

.viewMoreButton {
  border-radius: 12px;
  background: transparent;
  color: #666;
  padding: 10px 50px;
  border: 1px solid #666;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%; /* 31.625px */
  cursor: pointer;
  margin-top: 20px;
}

.tabMain {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-top: 50px;
  position: sticky;
  top: 80px; /* This will make the tabMain sticky with a top margin of 20px */
}

.tabdiv {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
  justify-content: space-between;
}

.active {
  color: white;
}

.svgIcon {
  fill: black;
  transition: fill 0.3s ease;
}

.listicondiv {
  display: flex;
  align-items: center;
  gap: 6px;
}
.masterConteiner {
  margin-top: 80px;
}

.MasterCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: auto;
  position: relative;
}
.contentConteiner {
  position: absolute;
  top: 30px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contentConteiner h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 126.5%;
  color: #fff;
  letter-spacing: -0.4px;
}
.contentConteiner p {
  font-size: 16px;
  font-style: normal;
  margin-top: 0;

  color: #ffc436;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 34.1px */
}

.mastericon {
  display: flex;
  gap: 6px;
  align-items: flex-start;
  margin-bottom: 10px;
}
.gridConteiner {
  background-color: red;
  display: grid;
  grid-template-columns: 50% 45%;
}
.absloute {
  float: right;
  position: absolute;
  right: 90px;
  bottom: 20px;
  display: flex;
  gap: 20px;
}

.absloute h4 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
.absloute span {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 155%;
}

.tagGen {
  display: flex;
  gap: 10px;
}

.tagNew {
  border-radius: 28px;
  background: linear-gradient(90deg, #fe7a36 0%, #f94f4f 100%);
  padding: 2px 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.box {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1381px) {
  .mainImage {
    width: 100%;
  }
  .CourseCardHead {
    justify-content: center;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 20px;
  }
  .cardContent h3 {
    font-size: 18px;
  }
  .brochurebtn svg {
    width: 12px;
  }
  .brochurebtn {
    font-size: 12px;
  }

  .bgImageMaster {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1281px) {
  .CourseCardHead {
    user-select: auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
  }
  .MasterCard {
    max-width: 100%;
  }
  .bgImageMaster {
    width: 100%;
  }
  .viewDetailsButton {
    font-size: 12px;
  }
}

@media screen and (max-width: 1181px) {
  .CourseCardHead {
    gap: 20px;
    justify-content: left;
  }

  .courseCard {
    width: 100%;
  }

  .cardContent h3 {
    font-size: 16px;
  }
  .lists span {
    font-size: 12px;
  }
  .viewDetailsButton {
    font-size: 12px;
    padding: 6px 18px;
  }

  .contentConteiner {
    top: 30px;
  }
  .brochurebtn {
    font-size: 12px;
  }
  .buttonsMaster {
    top: -1vw;
  }
}

@media screen and (max-width: 1081px) {
  .bgImageMaster {
    width: 100%;
  }

  .cardContent h3 {
    font-size: 16px;
  }
  .lists span {
    font-size: 12px;
  }
  .viewDetailsButton,
  .brochurebtn {
    font-size: 11px;
    padding: 10px 16px;
  }
  .CourseCardHead {
    grid-template-columns: 32% 32% 32%;
  }
  .cardContent h3 {
    font-size: 16px;
  }
  .lists span {
    font-size: 13px;
  }

  .newSection {
    grid-template-columns: 19% 74%;
  }
  .contentConteiner h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .CourseCardHead {
    grid-template-columns: 48% 48%;
  }
  .newSection {
    grid-template-columns: 24% 70%;
  }
  .courseCard {
    max-width: 100%;
  }
  .contentConteiner {
    top: 2vw;
  }
  .contentConteiner h2 {
    font-size: 18px;
  }
  .absloute h4 {
    font-size: 28px;
  }
  .absloute span {
    font-size: 14px;
  }
  .buttonsMaster button {
    font-size: 10px;
  }
}

@media screen and (max-width: 961px) {
  .MasterCard {
    width: 100%;
    padding: 0 30px;
  }

  .contentConteiner {
    top: 1vw;
  }
}

@media screen and (max-width: 868px) {
  .buttonsMaster {
    top: -1.8vw;
  }
}

@media screen and (max-width: 768px) {
  .newSection {
    display: flex;
    flex-direction: column;
  }
  .CourseCardHead {
    width: 100%;
    gap: 50px;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  /* Custom scrollbar styles for .tabMain */
  .tabMain {
    width: 100%; /* Full width */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Prevent wrapping */
    gap: 10px; /* Space between tabs */
    overflow-x: auto; /* Allow horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    -webkit-overflow-scrolling: touch; /* For iOS devices */
    padding: 10px 0; /* Optional padding for aesthetics */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #0072bc black; /* For Firefox (thumb, track) */
    max-width: 100%;
  }

  /* WebKit browsers */
  .tabMain::-webkit-scrollbar {
    height: 1px; /* Height of horizontal scrollbar */
  }

  .tabMain::-webkit-scrollbar-track {
    background: black; /* Track color */
    border-radius: 10px; /* Round track */
  }

  .tabMain::-webkit-scrollbar-thumb {
    background: #0072bc; /* Scrollbar thumb color */
    border-radius: 10px; /* Round scrollbar thumb */
    border: 10px solid black; /* Add border around the thumb */
  }

  .tabMain::-webkit-scrollbar-thumb:hover {
    background: #005f8a; /* Thumb color on hover (optional) */
  }

  .tabdiv {
    flex: 0 0 auto; /* Ensure each tab does not shrink */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    min-width: 150px; /* Minimum width to prevent small tabs */
    padding: 10px 20px; /* Optional padding for tabs */
    background-color: white; /* Tab background color for visibility */
  }

  .tabMain p {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
  }
  .tabMain p :nth-child(2) {
    background-color: red;
    color: #0072bc;
  }

  .courseCard {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
  .courseCard img {
    width: 100%;
  }

  .cardContent h3 {
    font-size: 20px;
  }
  .cardContent {
    padding: 20px 30px;
    margin-bottom: 40px;
  }
  .buttonsMaster button {
    font-size: 18px !important;
  }
  .buttons button {
    font-size: 13px;
    padding: 7px 19px;
  }
  .buttonsMaster {
    gap: 10px;
    top: 4vw;
  }

  .viewMoreContainer {
    margin: 0;
    margin-bottom: 30px;
    margin-top: -50px;
  }

  .section {
    padding: 0;
  }

  .listicondiv img {
    width: 30px;
    height: auto;
  }
  .tabHead {
    background: linear-gradient(
      180deg,
      #fff 1.26%,
      #eff3f6 17.6%,
      #eff3f6 90.85%,
      #fff 100%
    );

    padding: 0 20px;
  }
  .container {
    padding-bottom: 0;
  }
  .MasterCard {
    padding: 20px;
  }
  .contentConteiner h2 {
    color: #fff;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.5%;
    letter-spacing: -0.22px;
    text-wrap: balance;
    text-align: center;
  }
  .contentConteiner {
    width: 80%;
    display: flex;
    left: 10%;
    align-items: center;
    justify-content: center;
    top: 25%;
  }

  .contentConteiner img {
    width: 30px;
    height: auto;
  }
  .absloute {
    top: 47%;
    left: 27%;
  }
  .absloute h4 {
    color: #7a7a7a;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    text-wrap: balance;
  }
  .absloute span {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
  }
  .mastericon {
    margin-top: 120px;
    align-items: center;
  }
  .contentConteiner p {
    font-size: 14px;
  }
  .swiperContainer {
    padding-bottom: 30px;
  }

  .accordionContainer {
    display: flex;
    flex-direction: column;
  }

  .accordionItem {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .accordionHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f7f7f7;
    cursor: pointer;
    font-weight: bold;
  }

  .accordionContent {
    padding: 15px;
    display: none;
    background-color: #fff;
  }

  .expanded .accordionContent {
    display: block;
  }
  .lists span {
    font-size: 16px;
  }

  .bgImageMaster {
    align-items: center;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .tagGen {
    display: flex;
    gap: 2px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 481px) {
  .cardContent h3 {
    font-size: 20px;
  }
  .lists span {
    font-size: 14px;
  }
  .buttons button {
    font-size: 15px;
  }
  .cardwrapper {
    grid-template-columns: 100%;
  }
  .bgImageMaster {
    margin: 0;
    width: 100%;
  }
  .contentConteiner h2 {
    text-align: left;
    font-size: 26px;
  }
  .contentConteiner {
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
    left: 3%;
  }
  .absloute {
    top: 47%;
    left: 6%;
    right: 34%;
  }
}

@media screen and (max-width: 451px) {
  .buttons button {
    font-size: 14px;
  }
  .contentConteiner {
    top: 15%;
  }
  .contentConteiner h2 {
    font-size: 22px;
  }
  .absloute {
    top: 32%;
  }
}

@media screen and (max-width: 414px) {
  .contentConteiner {
    font-size: 20px;
    padding: 0 20px;
    top: 20%;
  }
  .absloute h4 {
    font-size: 27px;
  }
  .absloute span {
    font-size: 13px;
  }
  .buttons button {
    font-size: 13px;
  }
  .absloute {
    top: 40%;
  }

  .buttonsMaster {
    top: -2vw;
  }
  .buttonsMaster button {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 375px) {
  .cardContent h3 {
    font-size: 20px;
  }
  .buttons button {
    font-size: 14px;
  }
  .absloute {
    top: 130px;
    width: fit-content;
    height: fit-content;
  }
  .contentConteiner h2 {
    font-size: 18px;
  }
  .buttonsMaster {
    top: -20px;
  }
  .contentConteiner {
    top: 17%;
  }
}

@media screen and (max-width: 341px) {
  .lists span {
    font-size: 12px;
  }
  .buttons button {
    font-size: 10px;
  }
}
