/* Glass Effect Class */
.glassEffect {
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;
}

.glassEffect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 200%;
  height: 100%;
  transition: left 0.4s ease-in-out;
}

.glassEffect:hover::before {
  left: 100%;
  animation: moveGlass 1s forwards;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.grayButton {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #212121;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #fff;
}

.grayButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  transition: left 0.4s ease-in-out;
}

.grayButton:hover::before {
  left: 100%;
  animation: moveGlass 1s forwards;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.newBlueButton {
  padding: 12px 15px;
  outline: none;
  border-radius: 10px;
  background: #0383ff;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 5px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.679px;
  /* 143.396% */
}

.button {
  padding: 12px 30px;
  outline: none;
  background-color: #0072bc;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #0072bc;
}
.button:hover {
  border: 1px solid #0072bc;
  background-color: white;
  color: #0072bc;
}

.newBlueButton:hover {
  color: #fff;
}

.greenButton {
  background-color: #04c988;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
}
.greenButton:hover {
  /* background-color: #000; */
  /* border: 1px solid #fff; */
}

.OrangeButton {
  border-radius: 8px;
  background: #fe7a36;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  border: 1px solid #000;
  cursor: pointer;
}

.blackButton {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
  border: 1px solid #fff;
}

.blackButton:hover {
  background-color: #72bc00;
  border: none;
}
.newBlueButton {
  padding: 12px 30px;
  border-radius: 10px !important;
  outline: none;
  background-color: #0072bc;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #0072bc;
}
.newBlueButton:hover {
  border: 1px solid #0072bc;
  background-color: white;
  color: #0072bc;
}
.outLineBtn,
.ButtonWhiteBg,
.outLineBtn1 {
  padding: 12px 20px;
  border: 1px solid #0072bc;
  color: #fff;
  background-color: #0072bc;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
}
.outLineBtn:hover,
.ButtonWhiteBg:hover {
  background-color: #0072bc;
  color: white;
}

.ButtonWhiteBg {
  color: #0072bc;
  background-color: #fff;
  font-weight: 400;
}
.nobannerButton,
.whiteBgButton {
  padding: 14px 85px;
  border: 1px solid #0072bc;
  color: #0072bc;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
}
.nobannerButton:hover,
.whiteBgButton:hover {
  background-color: #0072bc;
  color: white;
}

.whiteBgButton {
  background-color: #fff;
  color: #0072bc;
}

.bannerButton {
  padding: 14px 65px;
  outline: none;
  background-color: #0072bc;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #0072bc;
}
.bannerButton:hover {
  border: 1px solid #0072bc;
  background-color: white;
  color: #0072bc;
}

@media (min-width: 1400px) {
  .grayButton {
    padding: 18px 24px;
  }
}
@media (max-width: 1024px) {
  .grayButton {
    font-size: 14px;
  }
}

@media (max-width: 841px) {
  .grayButton {
    padding: 10px 15px;
  }
}
@media (max-width: 761px) {
  .grayButton {
    /* padding: 16px 10px; */
    padding: 10px;
  }
}

@media (max-width: 641px) {
  .grayButton {
    font-weight: 400;
  }
}
@media (max-width: 1281px) {
  .button,
  .outLineBtn {
    padding: 10px 20px;
  }
  .newBlueButton {
    padding: 7px 30px;
  }
}
@media (max-width: 1281px) {
  .outLineBtn {
    position: relative;
    top: 0px;
    flex-flow: row-reverse;
  }
}

@media (max-width: 481px) {
  .bannerButton {
    padding: 14px 50px;
  }
  .nobannerButton {
    padding: 14px 50px;
  }
  .whiteBgButton {
    padding: 14px 73px;
  }
  .grayButton {
    font-weight: 400;
    font-size: 14px;
    padding: 17px 10px;
  }
  .newBlueButton {
    /* border-radius: 10px; */
    padding: 10px;
  }
}

@media (max-width: 431px) {
  .grayButton {
    font-weight: 400;
    font-size: 14px;
    padding: 17px 10px;
  }
}
@media (max-width: 401px) {
  .grayButton {
    line-height: 19.679px;
    font-size: 13px;
  }
}
@media (max-width: 391px) {
  .grayButton {
    padding: 15px;
  }
}
@media (max-width: 376px) {
  .grayButton {
    padding: 7px 10px;

    line-height: 28.679px;
  }
  .newBlueButton {
    font-weight: 500;
  }
}

@media (max-width: 361px) {
  .grayButton {
    padding: 8px;
  }
}
