@import "./Button.css";

:root {
  --swiper-navigation-color: #edb552;
  /* Define your color variables */
  --primary-color: #0072bc;
  --secondary-color: #ffc436;
  --tertiary-color: #72bc00;
  --quaternary-color: #f98e00;
  --quinary-color: #0c356a;
  --senary-color: #eff3f6;
  --septenary-color: #252525;
  --white: #ffffff;
  --black: #000000;
  --cyan: #e5f1f8;
  --brown: #fe7a3629;
  --grey: #747272;
  --red: #ff3131;
  --orange: #ff9562;
  --deep-orange: #e95407;
  --deep-grey: #333;
  --whitee: #f5f5f5;
  --sky-blue: #0070f3;
  --light-blue: #2d9cd7;
  --light-grey: #4f4b4b;
  --light-grayy: #646464;
  --light-black: #212121;
  --light-green: #35d028;
  --deep-blue: #022646;
  --light-deep-blue: #21415d;
  --stone-color: #606060;
  --light-bluee: #0383ff;
  --dark-black: #00090f;
  --red-official: #ff0000;
  --dark-blue: #005f8a;
  --dark-grey: #7a7a7a;
  --light-white: #f7f7f7;
  --medium-grey: #ccc;
  --light-orange: #fe7a36;
  --deeep-grey: #666;
  --bluee: #007bff;
  --light-blueee: #0056b3;
  --deep-cyan: #36ddfe;
  --white-deep: #fff1ea;
  --greyy: #d3d3d3;
  --deeep-grey: #727272;
  --medium-greyy: #6c6c6c;
  --medium-greey: #616161;
  --light-whitee: #d9d9d9;
  --daark-black: #141414;
  --daark-grey: #848484;
  --gray: #808080;
  --grayy: #969494;
  --ggrey: #999;
  --bblack: #454545;
  --gogreen: #454545;
  --stonee: #454545;
  --cement: #555555;
  --wwhite: #dfdada;
  --black-diamond: #383838;
  --greyyy: #787878;
  --whiteee: #f4f4f4;
  --greeyy: #747474;
  --ggrrey: #5f5d5d;
  --light-ggrey: #525050;
  --mint-green: #03b877;
  --parrot-green: #04c988;
  --royale-blue: #005a9b;
  --light-greyy: #aeaeae;
  --lightt-grey: #dedede;
  --light-blackk: #909090;
  --blue-grey: #767676;
  --smokey: #afafaf;
  --dark-smoke: #a8a8a8;
  --darkest-smoke: #484848;
  --carbon: #414141;
  --cementt: #b3b3b3;
  --green: #008000;
  --carbon-black: #2e2e2e;
  --deep-cyann: #36ddfe;
  --cementtt: #d3d3d3;
  --deepblack: #121212;
  --ceementt: #d9e9f4;
  --peacock-blue: #336ca8;
  --kashmiri-stone: #555;
  --kashmiri-blackstone: #f0f0f0;
  --kashmiri-whitestone: #8a8a8a;
  --blue-eyes: #16a0fb;
  --kashmiri-diamond: #fefefe;

  /* Define font sizes for desktop */
  --desktop_h1-font-size: 42px;
  --desktop_h2-font-size: 38px;
  --desktop_h3-font-size: 30px;
  --desktop_h4-font-size: 26px;
  --desktop_h5-font-size: 20px;
  --desktop_p-font-size: 16px;
  --desktop_span-font-size: 14px;

  /* Define font colour for desktop */
  --desktop_h1-font-colour: #fff;
  --desktop_h2-font-colour: #a4a4a4;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: transparent;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.react-tel-input{
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20) !important;
  border-radius: 0 !important;
}
.react-tel-input .selected-flag{
  background-color:#fff;
  border: 0;
}
.react-tel-input .flag-dropdown{
  border: none !important;
}
h1 {
  font-size: 34px;
}
h4 {
  font-size: 32px;
  color: black;
}
h3 {
  font-size: 32px;
}
h2 {
  font-size: 32px;
  color: black;
}
h5 {
  font-size: 27px;
  color: black;
}
h6 {
  font-size: 22px;
  color: black;
}
p {
  margin: 0;
  font-size: 16px;
  color: #000;
  margin-top: 10px;
}
.none {
  display: none;
}
input:-internal-autofill-selected {
  background-color: none;
  color: firebrick;
}
a {
  color: inherit;
  text-decoration: none;
}
.imgWrapper {
  display: flex;
  width: 100%;
}
.imgWrapperMobile {
  display: none;
}
.divWrapper {
  display: none;
}
.imgWrapperDesktop {
  display: flex;
  width: 100%;
}
.imgWrapperDesktop img {
  width: 100%;
  height: auto;
}
.imgWrapper img {
  width: 100%;
  height: auto;
}
.bgWrap {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;

  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.flexBox {
  display: flex;
}
.flexBoxColumn {
  flex-flow: column;
}
.flexBoxRow {
  flex-flow: row;
}
iframe {
  border-radius:18px;
}

.flexJustSpaceBetween {
  justify-content: space-between;
}
.flexJustSpaceCenter {
  justify-content: center;
}
.flexAlignCenter {
  align-items: center;
}
.flexAlignStart {
  align-items: start;
}

.realstory{
margin-top: 100px;
}
.bIcons {
  margin-right: 8px;
  display: initial;
  font-size: 18px;
  margin-left: 8px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  padding: 40px 100px;
}

.MainCities {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0px 100px 100px 100px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #0072bc !important;
  --swiper-navigation-size: 20px !important;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  padding: 0px 0px 0px 0px;
}

.swiper-slide {
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.numberIcon {
  font-size: 40px;
  color: #0072bc;
}

.RightPopup h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555;
}

.swiper-scrollbar-drag {
  background-color: #0072bc !important;
  width: 20% !important;
}

.swiper-horizontal > .swiper-scrollbar {
  width: 20% !important;
  left: 40% !important;
}

.react-tel-input .form-control {
  width: 100% !important;
  color: gray !important;
}

/* New Styles */

.containerWidth {
  width: 1300px;
  margin: auto;
}

.width{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1281px) {
  .wrapper {
    padding: 40px 80px;
  }
  .MainCities {
    display: grid;
    margin: 0px 20px;
  }
  h4 {
    font-size: 28px;
    color: black;
  }
  .whiteP {
    width: 300px;
  }
  .flDivLeft {
    display: none;
  }
  .RightPopup {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .containerWidth {
    width: 1180px;
    margin: auto;
  }
  .width{

    max-width: 1100px;
   
  }

}
@media (max-width: 1181px) {
  .width{

    max-width: 980px;
    
   
  }

}


@media (max-width: 1080px) {
  .containerWidth {
    width: 1040px;
    margin: auto;
  }
  
  
}
@media (max-width: 1024px) {
  .wrapper {
    padding: 30px 60px;
  }
  .containerWidth {
    width: 980px;
    margin: auto;
  }
}
@media (max-width: 961px) {
  .wrapper {
    padding: 30px 40px;
  }

  .containerWidth {
    width: auto;
    margin: auto;
  }
  .whiteP {
    width: 350px;
  }
  .RightPopup {
    width: 90%;
    margin-left: 50px;
  }
 
}
@media (max-width: 850px) {
  .leftPopup {
    display: none;
  }
  .RightPopup {
    margin-left: 0;
  }
}
@media (max-width: 801px) {
  .MainCities {
    display: block;
    margin: 0px 10px;
  }
  .wrapper {
    padding: 30px 20px;
  }
  .faqCity .course .wrapper {
    padding: 30px 0px !important;
  }
}
@media (max-width: 641px) {
  .imgWrapperMobile {
    display: flex;
  }
  .imgWrapperDesktop {
    display: none;
  }
}

@media (max-width: 481px) {
  .flDivLeft {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255);
    border-radius: 12px;
    border-top: 1px solid rgba(98, 98, 98, 0.125);
    height: 60px;
    width: 100vw;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .flDivLeft div {
    display: flex;
    align-items: center;
  }
  .flDivLeft {
    /* border-right: 2px solid #2d9cd7;
    padding-right: 10px; */
    margin: 0;
  }
  .divWrapper {
    display: flex;
    position: relative;
    width: 100vw;
  }
  h4 {
    font-size: 24px;
    color: #000;
    padding: 0;
    font-weight: 700;
    margin: 0 0 20px;
  }
  .swiper-horizontal > .swiper-scrollbar {
    width: 80% !important;
    left: 10% !important;
  }
}
.divWrapper {
  display: none;
}

.popupModal {
  display: grid;
  grid-template-columns: 49% 49%;
  background-color: white;
}

.whiteP {
  background-color: transparent;
  height: 600px;
  width: 600px;
}

.RightPopup h5 {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.RightPopup p {
  margin: 0;
  font-size: 16px;
  color: rgb(143, 143, 143);
}

.flDivLeft {
  display: none;
}

.RightPopup {
  display: flex;
  flex-flow: column;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.RightPopup h5 {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.RightPopup p {
  margin: 0;
  font-size: 12px;
  color: rgb(143, 143, 143);
}

.bIcon {
  font-size: 18px;
  margin-left: 8px;
  color: #0072bc;
}

.bIcon {
  font-size: 18px;
  margin-left: 8px;
  color: #0072bc;
}
@media (max-width: 481px) {
  .divWrapper {
    display: flex;
    position: relative;
    width: 100vw;
  }
  .flDivLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #0072bc;
    border-radius: 12px 12px 0px 0px;
    color: #fff;
    font-size: 20px;
    height: 50px;
    width: 100vw;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .flDivLeft div {
    display: flex;
    align-items: center;
  }
  .RightPopup {
    margin-left: 0;
  }
}
