.Testimonial {
  padding: 50px 100px 40px 60px;
  position: relative;
}
.slide {
  margin-left: 5px;
  margin-right: 0px;
  height: max-content;
}
#tcs .imgWrap {
  width: 20%;
}
.mainSlider {
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 30px 0px 70px 0px;
}
.para {
  font-size: 13px;
  margin: 10px 0;
  color: black;
  display: flex;
  flex-flow: column;
  line-height: 20px;
  color: #454545;
  height: 100px;
}
.para span {
  color: #0072bc;
  cursor: pointer;
  border-bottom: 1px solid #0072bc;
  margin-top: 10px;
  width: max-content;
  line-height: 1;
}
.swiperleft {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 20px;
}
.name {
  margin-top: 30px;
  display: grid;
}
/* .nameHike p {
  color: #2DB621;
  margin: 0;
} */
.nameHike p {
  color: #2db621;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 700;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 14px;
  margin-top: 30px;
}
.name h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
/* .name p {
  margin: 0;
  font-size: 16px;
  color: #0072BC;
} */
.name p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #0072bc;
}
#tcs .imgWrap {
  width: 20%;
}
.paraDiv {
  border-radius: 15px;
  padding: 0px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgP {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  margin-top: -50px;
}
.testimonial {
  position: relative;
}
.line {
  display: none;
}
.imgHike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgba(238, 238, 238, 0.3);
  margin-top: 20px;
  gap: 20px;
}
.h1 {
  color: black;
  margin: 80px 0px 10px 0px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.icon {
  width: 20px;
}
.proImgWrap img {
  border-radius: 6px;
}
.ptop {
  font-size: 20px;
  margin: 0px 100px;
  color: #767676;
  line-height: 26px;
  text-align: center;
}
@media (max-width: 1281px) {
  .mainSlider {
    height: 405px;
    /* margin-top: 56px; */
  }
  .proImgWrap {
    right: 29px !important;
    top: -22px !important;
  }
}
@media (max-width: 1024px) {
  /* .mainSlider {
  height: 444px !important;
    width: 278px !important;
  } */
  .Testimonial {
    padding: 30px 20px;
  }
  .proImgWrap {
    right: 6px !important;
  }
}
@media (max-width: 961px) {
  .proImgWrap {
    right: 15px;
  }
}

@media (max-width: 641px) {
  .swiperleft {
    grid-template-columns: 48% 48%;
  }
  .ptop {
    color: #767676;
    font-size: 18px;
    padding: 0px 20px;
    margin: 0;
    display: none;
  }
  .h1 {
    color: black;
    margin: 20px 0px 10px 0px;
    font-size: 24px;
  }
  .imgP {
    margin-top: -20px;
  }
  .testimonial {
    margin-top: 50px;
  }
  .Testimonial {
    padding: 20px 20px 30px 20px;
  }
  .slide {
    height: fit-content;
  }
  /* .mainSlider {
    padding: 0px;
    /* height: fit-content; */
  /* margin: 50px 5px 40px 5px; */
  /* height: 400px;  */
  /* } */
  .line {
    left: 72%;
    top: 0;
  }
}
@media (max-width: 481px) {
  .mainSlider {
    margin-bottom: 35px;
    height: fit-content;
  }
  .swiperleft {
    grid-template-columns: 90% 90% 90% 90%;
    overflow-x: scroll;
  }
  .imgP {
    margin-top: -35px;
  }
}
