
.mainCard{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.TabMain{
    border-radius: 10px;
    border: 2px solid #0383FF;
    background: #FFF;
    display: flex;
    gap: 10px;
    justify-content:space-between;
    padding:10px 20px ;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;

}

.container{
 display: flex;
 gap: 40px;   
 margin: 40px 20px;
}

.cardDiv{
    border-radius: 20.145px;
border: 0.3px solid #686868;
background: #FFF;
box-shadow: 0px 4px 12.2px 0px rgba(0, 0, 0, 0.25);
padding: 10px;
width: 394px;
}

.cardDiv h3 {
    color: #212121;
font-size: 19.642px;
font-style: normal;
font-weight: 600;
line-height: 127.182%; /* 32.612px */
padding: 20px;
}
.list{
    padding: 10px 20px;
   
}
.list li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 29.45px */
}

.btns{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.brcohureBtn{
    display: flex;
    background: #0383FF;
    align-items: center;
    gap: 10px;
    padding:8px 20px;
    border-radius: 6.536px;
    cursor: pointer;

}
.brcohureBtn :nth-child(1){
    font-size: 16.493px;
    color: #FFF;
    margin-top: 0;
    font-weight:500;
}
/* .viewbtn{
    border-radius: 6.536px;
background: #0383FF;
color: #FFF;
font-size: 16.493px;
font-style: normal;
font-weight:500;
line-height: 155%;
border: none;
padding:4px 20px;
}  */

.viewbtn{
    border-radius: 6.536px;
border: 1.473px solid #000;
color: #212121;
text-align: center;
font-size: 16.493px;
font-style: normal;
font-weight: 500;
line-height: 155%; 
padding:4px 20px;
background: #fff;
} 

.tabItem {
    padding: 10px;
    border-radius: 6px;
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  .tabItem p {
    margin: 0;
    color: #000;
    font-weight: 500;
  }
  
  .activeTab {
    background-color: #E6F3FF;
    cursor: pointer;
  }
  
  .activeTab p {
    color: #000;
  }
  
  .hr {
    border: 0px;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #87898a, rgba(255, 255, 255, 0));
    width: 100%;
  }
  
  