.container {
  background: linear-gradient(to bottom, white 0%, #d9d9d9 50%, white 100%);
  color: var(--black);
  padding: 70px 0;
}

.innerDiv {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 93%;
  margin: auto;
  height: max-content;
  justify-content: center;
  align-items: center;
}

.innerDiv h2 {
  text-align: center;
  color: var(--deep-blue);
  font-size: var(--desktop_h2-font-size);
  font-weight: 600;
}

/* .innerDivH2Span {
    border-bottom: 4px solid var(--light-orange);
  } */

/* .pHead {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 150.5%;
    margin: 1% 0 2%;
  } */

.green {
  color: var(--green);
  font-weight: 600;
}

.H3,
.ptop span,
.ptop {
  width: 34rem;
}
.pTop {
  width: 64%;
  font-size: 18px;
  color: #212121;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.innerBoxDivWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.innerBoxDiv {
  display: flex;
  gap: 20px;
}

.innerBox1,
.innerBox2 {
  padding: 5px 20px;
  border-radius: 40px;
  background: #fff6e1;
}

.innerBox1:nth-child(2),
.innerBox2:nth-child(1) {
  background: #d9eaf5;
}

/* .imgWrapper {
    position: relative;
    width: 40px;
    height: 40px;
  } */

.innerBox1 h3,
.innerBox2 h3 {
  color: var(--carbon-black);
  font-size: var(--desktop_p-font-size);
  font-weight: 600;
}
.secondSectionImgWrapper {
  background: linear-gradient(
      to bottom,
      rgba(8, 54, 83, 0.9) 0%,
      transparent 100%
    ),
    var(--light-black);
  padding: 30px 20px 20px 30px;
  border-radius: 40px;
  height: fit-content;
  margin: 0.1rem 9rem 1rem -17rem;
}

.orangeSpan {
  color: var(--light-orange);
  font-weight: 700;
}

.blueSpan {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.blueSpan:hover {
  color: var(--light-orange);
}

.pBot {
  font-size: 15px;
  /* width: 157%; */
}

.twoSection {
  position: relative;
  display: flex;
  border-radius: 40px;
  background: url("https://learnbay-s3.s3.us-east-2.amazonaws.com/adlearnbay/Programsection+(1).webp")
    no-repeat;
  position: relative;
  width: 111%;
  height: max-content;
  background-size: 70rem 29rem;
}
.topBorderDiv1,
.topBorderDiv2,
.bottomBorderDiv1,
.bottomBorderDiv2 {
  display: none;
}
.firstSection {
  display: flex;
  flex-flow: column;
  gap: 38px;
  border-radius: 40px;
  padding: 33px 60px 60px 37px;
}
.topBorderDiv1 {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 0;
  left: 67%;
}

.topBorderDiv1,
.bottomBorderDiv1 {
  /* background: #E3E3E3; */
  background: #ebebeb;
}

.topBorderDiv2 {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 0;
  left: 66%;
  background: var(--white);
  border-top-right-radius: 40px;
}

.bottomBorderDiv1 {
  position: absolute;
  width: 50px;
  height: 60px;
  z-index: 1;
  bottom: 18%;
  right: 0;
}

.bottomBorderDiv2 {
  position: absolute;
  width: 50px;
  height: 60px;
  z-index: 1;
  bottom: 16%;
  right: 0;
  background: var(--white);
  border-top-right-radius: 40px;
}

.blackSpan {
  color: var(--primary-color);
  font-size: var(--desktop_h1-font-size);
  font-weight: 700;
  line-height: 114%;
}

.H3 {
  width: 57%;
  color: var(--light-grayy);
  font-size: var(--desktop_h3-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 114%;
}

.colors {
  color: var(--light-black);
  font-size: var(--desktop_h1-font-size);
  font-weight: 700;
  line-height: 114%;
}
@media only screen and (max-width: 1381px) {
  .topBorderDiv1 {
    left: 65%;
  }
  .twoSection {
    background-size: 69rem 28rem;
  }
  .secondSectionImgWrapper {
    background-size: 67rem 25rem;
    margin: 0.1rem 8.2rem 1rem -17rem;
  }

  .topBorderDiv2 {
    left: 62.8%;
  }
}

@media only screen and (max-width: 1281px) {
  .topBorderDiv1 {
    left: 62.5%;
  }
  .topBorderDiv2 {
    left: 62%;
  }
  .secondSectionImgWrapper {
    /* background-size: 62rem 24rem; */
    margin: 0.1rem 2.2rem 1rem -17rem;
  }
  .bottomBorderDiv1 {
    bottom: 16%;
  }

  .bottomBorderDiv2 {
    bottom: 16%;
  }

  /* .innerDiv,
    .H3,
    .pTop {
      width: 100%;
    } */

  /* .hrline {
      left: 33%;
    } */

  .container {
    padding: 8% 0;
  }
}

@media only screen and (max-width: 1181px) {
  .twoSection {
    background-size: 63rem 27rem;
  }
  .topBorderDiv1,
  .topBorderDiv2 {
    left: 59%;
  }

  .bottomBorderDiv1 {
    bottom: 12%;
  }

  .bottomBorderDiv2 {
    bottom: 11.5%;
  }
}

@media only screen and (max-width: 1081px) {
  .hrline {
    left: 30%;
  }

  .twoSection {
    background-size: 58rem 27rem;
  }
  .secondSectionImgWrapper {
    margin: 0.1rem 1.2rem 1rem -17rem;
  }
  .secondSectionImgWrapper img {
    width: 220px;
    height: 220px;
  }
  .H3 {
    font-size: 22px;
  }

  .blackSpan {
    font-size: 38px;
  }

  .colors {
    font-size: 40px;
  }

  .innerBox h3 {
    font-size: 18px;
  }

  .H3 {
    font-size: 20px;
  }

  .innerBox h3 {
    font-size: 15px;
  }

  .blackSpan,
  .colors {
    font-size: 27px;
  }
}

@media only screen and (max-width: 1025px) {
  .twoSection {
    gap: 30px;
  }
  .twoSection {
    background-size: 55rem 27rem;
  }

  .secondSectionImgWrapper {
    margin: 0.1rem 0 1rem -17rem;
  }
  .firstSection {
    gap: 31px;
  }
  .topBorderDiv2 {
    left: 58.8%;
  }
}

@media only screen and (max-width: 968px) {
  .hrline {
    left: 25%;
  }

  .twoSection {
    background-size: 55rem 22rem;
  }

  .secondSectionImgWrapper {
    margin: -0.9rem 2rem 1rem -17rem;
  }
  .secondSectionImgWrapper img {
    width: 205px;
    height: 190px;
  }
  .pBot {
    margin: 0;
    max-width: -webkit-fill-available;
  }

  .pTop {
    font-size: 14px;
  }

  .topBorderDiv1,
  .topBorderDiv2 {
    left: 54%;
  }

  .innerBoxDivWrapper {
    gap: 0;
  }

  .topBorderDiv1,
  .topBorderDiv2 {
    left: 52%;
  }
  .firstSection {
    /* background: var(--white); */
    position: relative;

    gap: 18px;
  }

  .innerBox1 h3,
  .innerBox2 h3 {
    font-size: 14px;
  }

  .innerBox1,
  .innerBox2 {
    margin-top: 10px;
  }

  .bottomBorderDiv1 {
    bottom: 6%;
  }

  .bottomBorderDiv2 {
    bottom: -1.5%;
  }
}

@media only screen and (max-width: 921px) {
  .bottomBorderDiv2 {
    right: 3px;
    bottom: 4.5%;
    width: 53px;
    height: 35px;
  }
}

@media only screen and (max-width: 821px) {
  .twoSection {
    background-size: 42rem 19rem;
  }
  .secondSectionImgWrapper img {
    width: 157px;
    height: 162px;
  }
  .H3 {
    width: 22rem;
    font-size: 14px;
  }

  .container {
    padding: 7% 0;
  }

  .innerBoxDiv {
    gap: 4px;
  }

  .hrline {
    left: 25%;
  }

  .colors,
  .blackSpan {
    font-size: 25px;
  }
}

@media only screen and (max-width: 769px) {
  /* .secondSectionImgWrapper img {
      width: 230px;
      height: 230px;
    } */
  .topBorderDiv1,
  .topBorderDiv2 {
    left: 49.5%;
  }

  .colors,
  .blackSpan {
    font-size: 22px;
  }

  .pTop span {
    font-size: 13px;
  }

  .innerBox1 h3,
  .innerBox2 h3 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 641px) {
  .twoSection {
    flex-flow: column;
    background: white;
    margin-top: 30px;
  }
  .secondSectionImgWrapper img {
    width: 280px;
    height: 270px;
  }
  .H3 {
    width: auto;
  }
  .secondSectionImgWrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .topBorderDiv1,
  .topBorderDiv2,
  .bottomBorderDiv1,
  .bottomBorderDiv2 {
    display: none;
  }

  /* .secondSectionImgWrapper img {
      width: 100%;
      height: 100%;
      } */
  .secondSectionImgWrapper {
    padding: 30px 20px 20px 40px;
  }

  .innerDiv h2 {
    font-size: 25px;
  }

  .innerDiv {
    gap: 0;
  }

  .twoSection {
    background: transparent;
    gap: 20px;
  }

  .innerBox1 h3,
  .innerBox2 h3 {
    font-size: 9px;
  }
  .firstSection {
    background: white;
  }
}

@media only screen and (max-width: 481px) {
  .firstSection {
    padding: 30px;
  }

  .pTop,
  .pTop span {
    font-size: 20px;
    line-height: 1;
  }
}

@media only screen and (max-width: 481px) {
  .innerDiv h2 {
    font-size: 30px;
  }

  .H3,
  .colors,
  .blackSpan {
    font-size: 26px;
  }

  .firstSection {
    padding: 25px 20px;
    gap: 30px;
  }

  .innerBox1,
  .innerBox2 {
    padding: 5px 9px;
  }

  .innerBox1 h3,
  .innerBox2 h3 {
    font-size: 17px;
    font-weight: 400;
  }

  .pBot {
    font-size: 15px;
  }

  .innerDiv h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 361px) {
  .innerBox1 h3,
  .innerBox2 h3 {
    font-size: 16px;
    font-weight: 400;
  }
  .pBot {
    font-size: 13px;
  }
}
