.First {
  background-size: contain;
  margin-top: 80px;
  padding: 45px 100px 40px 130px;
  display: grid;
  grid-template-columns: 53% 43%;
  gap: 50px;
  background: linear-gradient(180deg, #232323 16.69%, #012f4e 99.97%);
  align-items: center;
}
.fillBtn {
  font-size: 18px;
  border-radius: 4px;
  background-color: #0072bc !important;
  font-weight: 700;
  color: white !important;
  height: 100%;
}
/* .imgArrow {
    margin-top: -30px !important;
} */
.ptopC {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  text-align: left;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
  margin: 0;
  width: fit-content;
  border-radius: 3.75px;
  padding-left: 25px;
  background: linear-gradient(
    90deg,
    #0072bc 3.52%,
    rgba(52, 52, 52, 0) 103.89%
  );
}
.ptop {
  font-size: 16px;
  text-align: left;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
  color: #fff;
}
.ptopR {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
.ptopCiity {
  font-size: 23px;
  margin-bottom: 30px;
  color: #fff;
}
.h1Span {
  color: #FE7A36;
}
.h1 {
  color: #fff;
  font-weight: 700;
  margin: 15px 0px 10px 0px;
  text-align: left;
  line-height: 46px;
  font-size: 36px;
}
.FirstLeft {
  position: relative;
}

.line {
  position: absolute;
  top: 72%;
  left: 57%;
  transform: rotate(-20deg);
}
.blink {
  font-size: 20px;
  color: #767676;
}
.animationTextWrap {
  margin-top: 24px;
  margin-bottom: 44px;
  /* height: 40px; */
}
.animationText {
  /* display: inline-block; */
  /* width: max-content; */
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  /* position: absolute; */
  /* left: 33%; */
  animation: animate 2s linear infinite;
  transform: translate(-50%, -50%);
}
.btnImageMobile {
  display: none;
}
.Mobile {
  display: none;
}
.Desktop {
  display: block;
}
@keyframes animate {
  50% {
    transform: translate(-50%, -50%) perspective(200px) rotateX(-360deg);
  }
  100% {
    transform: translate(-50%, -50%) perspective(200px) rotateX(-360deg);
  }
}
.btnImage {
  display: flex;
  gap: 20px;
  align-items: center;
  width: max-content;
}

.btnImage button {
  padding: 14px 60px;
}
.descLine {
  color: #767676;
  margin: 0 !important;
  margin-bottom: 20px !important;
  text-transform: uppercase;
}
.logos {
  display: none;
}
.IBMlogoPlay {
  display: none;
}
.logosD {
  display: flex;
  justify-content: space-evenly;
}
.ImageBlock {
  width: 300px;
  height: max-content;
}
.secondLeft img {
  height: 450px;
  width: 580px;
  
}
@media (max-width: 1281px) {
  .First {
    padding: 40px 80px;
  }
  .h1 {
    font-size: 30px;
    line-height: 39px;
  }
  .animationText {
    font-size: 23px;
  }
  .ptop {
    font-size: 19px;
  }
  .animationTextWrap {
    margin-top: 6px;
    margin-bottom: 16px;
  }
  .ImageBlock {
    width: 250px;
  }
}
@media (max-width: 1024px) {
  .ImageBlock {
    width: 200px;
  }
}
@media (max-width: 961px) {
  .First {
    padding: 30px 40px;
  }
  .h1 {
    font-size: 22px;
  }
  .ptopC {
    font-size: 19px !important;
  }
  .animationText {
    font-size: 21px;
  }
  .animationTextWrap {
    margin-bottom: 7px;
  }
  .ImageBlock {
    width: 180px;
  }
}
@media (max-width: 801px) {
  .First {
    display: flex;
    flex-flow: column;
    padding: 70px 50px 70px 50px;
  }
  .animationTextWrap {
    justify-content: center;
    text-align: center;
  }
  .ptopC,
  .h1,
  .ptop,
  .IBMlogo {
    text-align: center;
    justify-content: center;
  }
  .secondLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .btnImage {
    margin: auto !important;
  }
  .ImageBlock {
    margin: auto;
  }
}
@media (max-width: 641px) {
  .First {
    padding: 30px 0px 20px 0px;
    margin-top: 47px;
    gap: 0px;
  }
  .btnImageMobile {
    display: block;
    gap: 20px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 481px) {
  .FirstLeft {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Desktop {
    display: none;
  }
  .Mobile {
    display: block;
    width: -webkit-fill-available;
  }
  .btnImage {
    display: none;
  }
  .secondLeft img {
    height: fit-content;
    width:100%;
    padding: 0;
    margin: 0;
  }
  .h1 {
    font-size: 27px;
  }

  .ptopC,
  .h1 {
    justify-content: center;
    text-align: left;
    font-size: 31px;
    line-height: 1.3;
    margin: 0;
    padding: 0px 20px;
  }

  .ptop {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }
  .ptopC {
    font-size: 14px !important;
    padding: 8px 20px;
    border-radius: 0;
  }
  .ptopCiity {
display: none;
  }
  .animationTextWrap {
    justify-content: left;
    text-align: left;
  }
  .IBMlogo {
    justify-content: left !important;
    text-align: left !important;
  }
  .ImageBlock {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .animationText {
    display: none;
  }
}
