/* OutcomeSection.module.css */
.container {
  color: #000;
  padding: 50px 0px 70px 0px;
}

.innerDiv {
  margin: 0px 50px;
}

.innerDiv h2 {
  color: #022646;
  font-size: 40px;
  margin-right: 400px;
  line-height: 60px;
  font-weight: 500;
}

.boldH2,
.borderBot {
  font-weight: 800;
}

.borderBot {
  text-decoration: underline;
  text-decoration-color: #fe7a36;
  text-underline-offset: 10px;
}

.innerBoxDiv {
  display: flex;
  gap: 20px;
justify-content: center;
  margin-top: 100px;
}

.headCont {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: center;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
}

.headContBlue {
  border-radius: 25px;
  padding: 20px;
  background: rgba(0, 103, 188, 0.05);

  width: 400px;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, #ffffff, #0072BC);
  border-image-slice: 1;

}

.headContGreen {
  border-radius: 25px;
  padding: 20px;
  width: 400px;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, #ffffff, #04C988);
  border-image-slice: 1;

  background: rgba(4, 201, 136, 0.07);
}

.headContOrange {
  border-radius: 25px;
  padding: 20px;
  width: 400px;
  border: 3px solid transparent;

  border-image: linear-gradient(to right, #ffffff, #FE7A36);
  border-image-slice: 1;
  background: rgba(254, 122, 54, 0.07);
}







.headCont h3 {
  font-size: 30px;
  line-height: 40px;
}

.headContBlue h3 {
  background: linear-gradient(90deg, #212121 36.55%, #0072BC 86.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headContGreen h3 {
  background: linear-gradient(92deg, #212121 38.91%, #04C988 94.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headContOrange h3 {
  background: linear-gradient(88deg, #212121 44.61%, #FE7A36 88.49%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pTop{
  color: #272727;
  font-size: 16px;
  font-weight: 500;
  line-height: 144.5%;
  padding: 2px 20px;

}



.innerBox div:nth-child(1), .innerBox div:nth-child(2), .innerBox div:nth-child(3), .innerBox div:nth-child(4) {
  border: 1.835px solid transparent;
  border-radius: 41.284px; /* Border radius */
      border-radius: 25px;
}
.innerBox div:nth-child(1), .innerBox div:nth-child(4) {
  background:
      linear-gradient(#DFEEF8, #DFEEF8) padding-box,
      linear-gradient(to right, #0072BC, #DFEEF8) border-box;
      z-index: -1;
}
/* .innerBox:nth-child(1) h3,
.innerBox:nth-child(2) h3,
.innerBox:nth-child(3) h3 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.innerBox:nth-child(1) h3 {
  background: linear-gradient(90deg, #212121 36.55%, #0072BC 86.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.innerBox:nth-child(2) h3 {
  background: linear-gradient(92deg, #212121 38.91%, #04C988 94.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.innerBox:nth-child(3) h3 {
  background: linear-gradient(88deg, #212121 44.61%, #FE7A36 88.49%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



@media only screen and (max-width: 1280px) {
  .headContBlue,.headContGreen,.headContOrange{
    width: 300px;
  }
.headCont h3{
  font-size: 20px;
  line-height: 30px;
}

}
