.RIcon {
    color: #2D9CD7;
    margin-right: 5px;
}

.CitiesLeftHead {
    position: sticky;
    top: 80px;
}

.listOuter {
    box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
    padding: 20px;
    margin: 10px;
}

.listInner {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.listOuter p {
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #2D9CD750;
}

.listOuter p:hover {
    color: #2D9CD7;
}

@media (max-width: 1024px) {
    .listInner {
        display: flex;
        font-size: 20px;
        align-items: center;
    }
    }

@media (max-width: 641px) {
    .listOuter {
        margin: 0px 0px 20px 0px;
    }
}
