.Course {
  padding: 40px 100px;
}

.Course h2 {
  color: black;
  font-weight: 700;
  margin: 0;
  font-size: 32px;
  text-align: left;
}

.mainHeadGreen {
  color: #0072bc !important;
}

.orangeBg {
  display: flex;
  justify-content:  center;
  border-radius: 9.467px;
background: linear-gradient(to right, #E8BD7D , #8A5300);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 100%;
margin: auto;
padding: 10px 0px 30px 0px;
}

.orangeBg > p {
color: #FFF !important;
font-size: 17px !important;
    font-weight: 600 !important;
margin: 0 !important;
}

/* .listPanel .mPanel {
  display: none;
} */
.listPanel {
  display: flex;
  gap: 20px;
  width: 100%;
}

.divBox {
  margin-top: 40px;
}

.bellIcon {
  font-size: 20px;
}

.contButton {
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  margin-top: -5px;
  z-index: 1;
  background-color: white;
}

.green {
  background: #0072bc;
  color: #fff;
}

.span {
  padding: 5px 0px;
  width: fit-content;
  font-weight: 400;
  cursor: pointer;
  color: #676767;

  justify-content: start;
}
.ActiveSpan {
  padding: 5px 35px;
  width: fit-content;
  font-weight: 400;
  cursor: pointer;
  justify-content: start;
  border-bottom: 2px solid #FE7A36;
  color: #FE7A36;
  font-size: 16px;
}
.gridPanel {
  display: flex;
  height: 510px;
  width: 100%;
  gap: 20px;
  padding: 0px 20px;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-out 0s;
  pointer-events: auto;
}

.courses {
  background: #ffffff;
  margin-top: 30px;
}
.listPanel {
  display: flex;
  width: fit-content;
  margin-bottom: 50px;
  justify-content: flex-start;
}

/* .span {
  padding: 20px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  justify-content: start;
   border-bottom: 2px solid #28557a2e;
} */
/* .ActiveSpan {
  padding: 20px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  justify-content: start;
  border-top: 4px solid #2d9cd7; 
   border-right: 2px solid #28557a2e;
} */

.gridPanel {
  display: flex;
  height: 530px;
  width: 100%;
  max-height: 700px;
  gap: 20px;
  padding: 0px 70px;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-out 0s;
  pointer-events: auto;
}

.gridPanel .Course h5 {
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
}
.leftSide {
  padding: 0px;
  background-color: transparent;
  max-height: 510px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 8px;
  width: 33%;
  margin-top: 20px;
  margin-left: 10px;
}

.SliderWrap {
  display: flex !important;
  flex-flow: column;
  border-radius: 8px;
  background-color: white;
  padding: 0px;
}

.newSliderWrap {
  display: flex !important;
  flex-flow: column;
  border-radius: 8px;
  z-index: 10;
  position: relative;
  height: max-content;
  background: white;
  box-sizing: border-box;
  border: 5px solid transparent;
  background-clip: padding-box;
  border-radius: 35.141px;
  background: #fff;
  /* box-shadow: -4.68544px 3.51408px 25.76994px 5.8568px rgba(0, 0, 0, 0.10); */
}
.newSliderWrap::after,
.newSliderWrap::before {
  position: absolute;
  width: 60%;
  height: 60%;
  content: "";
}
.newSliderWrap::after {
  right: 0;
  top: 0px;
  border: 0;
  margin-right: 0px;
  margin-top: -5px;
  border-radius: 0px 8px 0px 0px;
  z-index: -1;
  background: linear-gradient(to right, white, #0072bc);
}
.leftBorder {
  position: absolute;
  bottom: -5px;
  width: 10%;
  z-index: 0;
  margin-left: -5px;
  height: 47%;
  background: linear-gradient(to top, #0072bc, white);
  border-radius: 0px 8px 0px 8px;
}

.rightBorder {
  position: absolute;
  height: 47%;
  top: -4px;
  right: 0px;
  width: 10%;
  background: linear-gradient(to bottom, #0072bc, white);
  margin-right: -5px;
  border-radius: 0px 8px 0px 8px;
}
.newSliderWrap::before {
  left: 0;
  bottom: 0;
  margin-left: 0px;
  margin-bottom: -5px;
  border: 5px;
  border-radius: 0px 0px 0px 8px;
  z-index: -1;
  background: linear-gradient(to right, #0072bc, white);
}
.newSliderWrap .contentBox {
  width: 100%;
  flex-flow: column;
  align-items: center;
  padding: 20px 20px 12px 20px;
  margin-left: 0px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Use rgba for background color with transparency */
}

.contentBox {
  width: 100%;
  position: relative;
  flex-flow: column;
  align-items: center;
  padding: 20px 20px 12px 20px;
  margin-left: 0px;
  background-color: white;
  /* hello */
}
.imgWrap {
  background-color: white;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  height: auto;
}

.leftSide h6 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  width: 100%;
  color: #000;
}
.headWrapper {
  display: flex;
  flex-flow: column;
  text-align: center;
  z-index: 2;
}
.hr {
  border: 1px solid #efefef;
  background-color: #0072bc;
  height: 1px;
  top: 45%;
  position: absolute;
  width: 100%;
  right: 0px;
}
.hr1 {
  border: 0.3px solid #efefef;
  background-color: #0072bc;
  height: 0.3px;
  bottom: -1%;
  left: 0px;
  position: absolute;
  width: 49.7%;
}
.mainHead {
  background: #fff;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}

.leftSide p {
  display: flex;
  color: #676767;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}

.leftSide p:last-child {
  margin: 0;
  margin-top: 10px;
}

.singleP {
  width: 100%;
  margin: 0;
}
.checkCircle {
  margin-right: 10px;
  color: #0072bc;
  font-size: 22px;
}
.btnWrapper {
  display: flex;
  grid-template-columns: 50% 1% 49%;
  width: 98%;
  gap: 0px;

  margin-top: 0px;
}
.btnWrapper button {
  padding: 18px 15px;
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 0;
  font-size: 14px;
}
.btnWrapper a {
  display: flex;
  align-items: center;
  width: 100%;
}
.btnLine {
  border: 0px;
  border-left: 1px solid #676767;
  border-right: 1px solid #676767;
  height: 100%;
  width: max-content;
  padding: 0;
  outline: none;
  margin: 0;
}
.link1 {
  margin-left: -3px;
}
.fillBtn {
  background-color: #0072bc;
  color: white;
  height: 100%;
  border-radius: 0px 0px 8px 0px;
}

.h5font {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 10px 0px;
}

.timeIcon {
  font-size: 20px;
  margin-right: 5px;
}

.checkIcon {
  color: green;
  font-size: 20px;
  margin-right: 5px;
}

.paraDiv {
  margin-top: 40px;
}

@media (max-width: 1281px) {
  .Course {
    padding: 40px 80px;
  }
  .Course h2 {
    font-size: 30px;
  }
  .span,
  .ActiveSpan {
    padding: 15px;
    text-align: center;
  }
  .SliderWrap {
    width: 360px;
    margin-left: 0 !important;
  }
  .headWrapper h6 {
    font-size: 18px;
  }
  .hr {
    top: 27%;
    width: 87%;
  }
  .hr1 {
    top: 100%;
    width: 100%;
    left: 0%;
  }
  .btnWrapper button {
    padding: 15px 15px;
  }
}

@media (max-width: 1024px) {
  .span,
  .ActiveSpan {
    font-size: 14px;
    padding: 15px;
  }
  .gridPanel {
    height: 520px;
  }
  .Course {
    padding: 0px 20px 50px 20px;
  }
  .courses {
    padding-bottom: 20px;
  }
}

@media (max-width: 961px) {
  .span,
  .ActiveSpan {
    padding: 15px 0px 15px 15px;
  }
}

@media (max-width: 801px) {
  .span,
  .ActiveSpan {
    font-size: 12px;
  }
}

@media (max-width: 641px) {
  .Course h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

@media (max-width: 481px) {
  .Course {
    padding: 0 20px;
    margin-top: 50px;
    width: 100%;
  }

  .headWrapper {
    margin-bottom: 0;
  }
  .paraDiv {
    margin-top: 30px;
  }
  .span {
    border: 0;
    width: 100%;
    width: max-content;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    justify-content: start;
    padding: 14px 0px 0px 0px;
  }
  .leftSide {
    height: 340px !important;
  }
  .ActiveSpan {
    padding: 14px 0px 0px 0px;
    width: max-content;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    line-height: normal;
    border: 0;
    justify-content: start;
  }
  .Course h2 {
    font-size: 23px;
    font-weight: 700;
  }

  .courses {
    padding: 0px;
    box-shadow: none;
    margin-top: 0px;
  }
  .gridPanel {
    gap: 0px;
  }
  .listPanel {
    display: grid;
    width: 100%;
    gap: 0;
    grid-template-columns: 42% 53% 60% 30%;
    height: max-content;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 0px;
  }

  .divBox {
    margin-top: 30px;
  }

  .gridPanel {
    grid-template-columns: 85% 85%;
    /* overflow: scroll; */
    padding: 0;
    margin-top: 0px;
    height: 420px;
  }

  .leftSide {
    width: 100%;
    margin: 10px 10px;
    padding: 0px;
  }

  .hr {
    top: 46%;
    margin-left: -15px;
    width: 100%;
  }
  .leftSide h6 {
    width: 100%;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    color: #0072bc;
    margin-right: 0;
  }
  .mainHead {
    margin-bottom: 20px;
  }
  .checkCircle {
    margin-right: 5px;
  }

  .Course h5 {
    padding: 10px;
  }
  .contentBox {
    margin-top: 0px;
    overflow: hidden;
  }

  .SliderWrap {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    justify-content: center;
    position: relative;
    height: 370px;
    width: 100%;
    background-color: white;
  }
  .contentBox {
    background-color: transparent;
    align-items: flex-start;
  }
  .contentBox p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .hr1 {
    bottom: -3%;
    margin-left: -20px;
  }
  .btnWrapper button {
    padding: 18px 14px;
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 0;
  }
  .btnWrapper a {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .btnWrapper .outLineBtn1 {
    background-color: #fff;
    color: #0072bc;
  }
  .btnLine {
    border: 0px;
    border-left: 1px solid #676767;
    border-right: 1px solid #676767;
    height: 100%;
    width: max-content;
    padding: 0;
    outline: none;
    margin: 0;
  }
  .link1 {
    margin-left: -3px;
  }
  .fillBtn {
    height: 100%;
    border-radius: 0px 0px 8px 0px;
  }
  .imgWrapper {
    width: 300px !important;
  }
}
.Course {
  padding: 0px 100px 40px 100px;
}

.Course h2 {
  color: black;
  font-weight: 700;
  margin: 0;
  font-size: 28px;
  text-align: left;
}

.mainHeadGreen {
  color: #0072bc !important;
}

/* .listPanel .mPanel {
  display: none;
} */
.listPanel {
  display: flex;
  width: 100%;
}

.divBox {
  margin-top: 0px;
}

.bellIcon {
  font-size: 20px;
}

.zIndex {
  z-index: 1;
  margin: -180px 4px 0px 4px;
}

.contButton {
  width: 100%;
  margin-left: 15px;
  margin-top: -0px;
  margin: auto;
  z-index: 1;
  background-color: white;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.green {
  background: #0072bc;
  color: #fff;
  border-radius: 0px 0px 20px 0px;
}

.span {
  padding: 5px 35px;
  width: fit-content;
  font-weight: 700;
  cursor: pointer;
  color: #676767;
  font-size: 18px;
  border-radius: 40.875px;
  border: 0.908px solid #BFBFBF;
  background: #F8F8F8;
}
.ActiveSpan {
  padding: 5px 35px;
  width: fit-content;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  border-radius: 40.875px;
border: 0.908px solid #FE7A36;
background: #FFF9F0;
}
.gridPanel {
  display: flex;
  height: 510px;
  width: 100%;
  gap: 20px;
  padding: 0px 20px;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-out 0s;
  pointer-events: auto;
}

.courses {
  background: #ffffff;
  margin-top: 30px;
}
.listPanel {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  width: 97%;
  position:sticky;
  z-index: 999;
  top: 0px;
  background:#fff;
  padding-top: 22px;
  padding-bottom: 22px;
}

/* .span {
  padding: 20px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  justify-content: start;
   border-bottom: 2px solid #28557a2e;
} */
/* .ActiveSpan {
  padding: 20px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  justify-content: start;
  border-top: 4px solid #2d9cd7; 
   border-right: 2px solid #28557a2e;
} */

.gridPanel {
  display: flex;
  height: fit-content;
  width: 100%;
  max-height: 700px;
  gap: 20px;
  padding: 0px;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-out 0s;
  pointer-events: auto;
}

.viewAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textView {
  font-size: 20px;
  color: #0072bc;
  margin-right: 30px;
}

.borderTop {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding-top: 40px;
  margin: 0px 10px 0px 10px;
}

.gridPanel .Course h5 {
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
}
.leftSide {
  padding: 0px;
  background-color: transparent;
  max-height: 510px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 8px;
  width: 33%;
  margin-top: 0px;
  margin-left: 10px;
}

.SliderWrap {
  display: flex !important;
  flex-flow: column;
  border-radius: 8px;
  background-color: white;
}
.slideWrap {
  background-color: white;
}
.newSliderWrap,
.newSliderWrapOrange {
  display: flex !important;
  flex-flow: column;
  border-radius: 8px;
  z-index: 10;
  position: relative;
  height: max-content; /* Set the height to 100% to ensure it covers the entire parent */
  background: white;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.newSliderWrap::after,
.newSliderWrap::before,
.newSliderWrapOrange::after,
.newSliderWrapOrange::before {
  position: absolute;
  width: 60%;
  height: 60%;
  content: "";
}
.newSliderWrap::after,
.newSliderWrapOrange::after {
  right: 2px;
  top: 0px;
  border: 0;
  margin-right: 0px;
  margin-top: -5px;
  border-radius: 0px 20px 0px 0px;
  z-index: -1;
  background: linear-gradient(to right, white, #0798f6);
}
.newSliderWrapOrange::after {
  background: linear-gradient(to right, white, #FE7A36);
}
.leftBorder,
.OrangeLeftBorder {
  position: absolute;
  bottom: -5px;
  width: 10%;
  z-index: 0;
  margin-left: 10px;
  height: 47%;
  border-radius: 0px 8px 0px 20px;
}

.leftBorder {
  background: linear-gradient(to top, #0798f6, white);
}

.OrangeLeftBorder {
  background: linear-gradient(to top, #FE7A36, white);
}

.rightBorder,
.OrangeRightBorder {
  position: absolute;
  height: 47%;
  top: -5px;
  right: 1px;
  width: 10%;
  margin-right: -5px;
  border-radius: 0px 24px 0px 0px;
}

.rightBorder {
  background: linear-gradient(to bottom, #0798f6, white);
}

.OrangeRightBorder {
  background: linear-gradient(to bottom, #FE7A36, white);
}
.newSliderWrap::before,
.newSliderWrapOrange::before {
  left: 0;
  bottom: 0;
  margin-left: 16px;
  margin-bottom: -5px;
  border: 5px;
  border-radius: 0px 0px 0px 20px;
  z-index: -1;
  background: linear-gradient(to right, #0798f6, white);
}
.newSliderWrapOrange::before {
  background: linear-gradient(to right, #FE7A36, white);
}
.newSliderWrap .contentBox {
  width: 100%;
  flex-flow: column;
  align-items: center;
  padding: 0px 20px 12px 20px;
  margin-left: 0px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Use rgba for background color with transparency */
}

.contentBox {
  width: 100%;
  position: relative;
  flex-flow: column;
  align-items: center;
  padding: 32px 20px 32px 20px;
  margin-left: 0px;
  background-color: white;
  border-radius: 8px;
  margin-top: -20px;
  /* hello */
}
.contButton .imgWrap {
  margin: 8px 11px 0px 0px;
}
.imgWrap {
  display: flex;

  height: 214px;
  background-color: white;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.leftSide h6 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  width: 100%;
  color: #fff;
}

.headWrapper {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 0px;
  margin: 30px 0px;
}
.hr {
  border: 1px solid #efefef;
  background-color: #0072bc;
  height: 1px;
  top: 36%;
  position: absolute;
  width: 100%;
  right: 0px;
}
.hr1 {
  border: 0.3px solid #efefef;
  background-color: #0072bc;
  height: 0.3px;
  bottom: -1%;
  left: 0px;
  position: absolute;
  width: 100%;
}
.mainHead {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}

.leftSide p {
  display: flex;
  color: #676767;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}

.leftSide p:last-child {
  margin: 0;
  margin-top: 10px;
}

.singleP {
  width: 100%;
  margin: 0;
}
.checkCircle {
  margin-right: 10px;
  color: #1E9B93;
  font-size: 20px;
}
.btnWrapper {
  display: flex;
  grid-template-columns: 50% 1% 49%;
  width: 100%;
  gap: 10px;
  border-radius: 0 0 20px 20px;
  margin-top: 0px;
  padding: 20px 15px;
}
.btnWrapper button {
  padding: 14px 15px;
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 0;
  font-size: 16px;
}

.btnWrapper button:hover {
  opacity: 0.9;
}

.btnWrapper a {
  display: flex;
  align-items: center;
  width: 100%;
}
.btnLine {
  border: 0px;
  border-left: 1px solid #676767;
  border-right: 1px solid #676767;
  height: 100%;
  width: max-content;
  padding: 0;
  outline: none;
  margin: 0;
}
.link1 {
  margin-left: -3px;
}
.fillBtn {
  background-color: #fff;
  color: #282828;
  height: 100%;
  border: 1px solid #282828;
  border-radius: 0px 0px 8px 0px;
  font-size: 16px;
  font-weight: 800;
}

.h5font {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  margin-left: 10px;
  padding: 10px 0px 20px 0px;
  background: linear-gradient(90deg, #8D5603 0.76%, #000 24.77%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.timeIcon {
  font-size: 20px;
  margin-right: 5px;
}

.checkIcon {
  color: #1E9B93;
  font-size: 20px;
  margin-right: 5px;
}

.paraDiv {
  margin-top: 0px;
}

@media (max-width: 1281px) {
  .Course {
    padding: 40px 80px;
  }
  .Course h2 {
    font-size: 30px;
  }
  .span,
  .ActiveSpan {
    padding: 15px;
    text-align: center;
  }
  .SliderWrap {
    width: 360px;
    margin-left: 0 !important;
  }
  .headWrapper h6 {
    font-size: 18px;
  }
  .hr {
    top: 27%;
    width: 87%;
  }
  .hr1 {
    top: 100%;
    width: 100%;
    left: 0%;
  }
  .btnWrapper button {
    padding: 15px 15px;
  }
}

@media (max-width: 1024px) {
  .span,
  .ActiveSpan {
    font-size: 14px;
    padding: 15px;
  }
  .gridPanel {
    height: 520px;
  }
  .Course {
    padding: 0px 20px 50px 20px;
  }
  .courses {
    padding-bottom: 20px;
  }
}

@media (max-width: 961px) {
  .span,
  .ActiveSpan {
    padding: 15px 0px 15px 15px;
  }
}

@media (max-width: 801px) {
  .span,
  .ActiveSpan {
    font-size: 12px;
  }
}

@media (max-width: 641px) {
  .Course h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

@media (max-width: 481px) {
  .Course {
    /* padding: 0 20px; */
    /* margin-top: 0px; */
    width: 100%;
  }

  .borderTop {
    padding: 0px;
  }

  /* .headWrapper {
    margin-bottom: 0;
  } */
  .paraDiv {
    margin-top: 20px;
  }
  .span {
    border: 0;
    width: 100%;
    width: max-content;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    justify-content: start;
    padding: 5px 20px 5px 20px;
    border: 0.5px solid;
  }
  .leftSide {
    height: fit-content !important;
  }
  .ActiveSpan {
    padding: 5px 20px 5px 20px;
    width: max-content;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    line-height: normal;
    border: 0;
    justify-content: start;
    border: 0.5px solid;
  }
  .Course h2 {
    font-size: 23px;
    font-weight: 700;
  }

  .courses {
    padding: 0px;
    box-shadow: none;
    margin-top: 0px;
  }
  .gridPanel {
    gap: 0px;
  }
  .listPanel {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    gap: 10px 10px;
    width: 100%;
    height: max-content;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 0px;
    position: initial;
  }

  .divBox {
    margin-top: 10px;
  }

  .gridPanel {
    grid-template-columns: 85% 85%;
    /* overflow: scroll; */
    padding: 0;
    margin-top: 0px;
    height: fit-content;
  }

  .leftSide {
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
  }
  .imgWrap {
    height: 208px;
    width: 98.5%;
    margin: auto;
  }
  .hr {
    top: 37.8%;
    margin-left: -15px;
    width: 100%;
  }
  .leftSide h6 {
    width: 100%;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    color: #0072bc;
    margin-right: 0;
  }
  .mainHead {
    margin-bottom: 20px;
  }
  .checkCircle {
    margin-right: 5px;
  }

  .Course h5 {
    padding: 10px;
    font-size: 18px;
    margin-left: 0;
  }
  .contentBox {
    /* margin-top: 0px; */
    overflow: hidden;
  }

  .SliderWrap {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    justify-content: center;
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: white;
  }
  .contentBox {
    background-color: transparent;
    align-items: flex-start;
    padding: 5px 14px;
    margin-top: -20px;
  }
  .contentBox p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .hr1 {
    bottom: -3%;
    margin-left: -20px;
  }
  .btnWrapper button {
    padding: 10px 8px;
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 0;
    font-size: 15px;
  }
  .btnWrapper a {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .btnWrapper .outLineBtn1 {
    background-color: #fff;
    color: #0072bc;
  }
  .btnLine {
    border: 0px;
    border-left: 1px solid #676767;
    border-right: 1px solid #676767;
    height: 100%;
    width: max-content;
    padding: 0;
    outline: none;
    margin: 0;
  }
  .link1 {
    margin-left: -3px;
  }
  .fillBtn {
    height: 100%;
    border-radius: 0px 0px 8px 0px;
  }
  .imgWrapper {
    width: 300px !important;
  }
  .contButton {
    width: 100%;
    margin-left: 0px;
  }
}
